<!-- <style>
    .modal{
        height: 80%; /* respsonsive width */
    }
</style> -->

<% layout('../partials/layout') -%>
    <div class="right_col" role="main">
        <div class="">
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Events<small>edit</small></h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <% obj.forEach(function (new_event) {
                                var start_date = new Date(new_event.start);
                                var formatOptions = { 
                                    day:    '2-digit', 
                                    month:  '2-digit', 
                                    year:   'numeric',
                                    hour:   '2-digit', 
                                    minute: '2-digit',
                                    hour12: true 
                                };
                                var dateStringStart = start_date.toLocaleDateString('en-US', formatOptions);
                                // => "02/17/2017, 11:32 PM"


                                var date = new Date(new_event.start);
                                console.log(date.getFullYear() + "-" + (date.getMonth()+1) + "-" + date.getDate() + " " + date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds());

                                
                                var end_date = new Date(new_event.end);
                                var formatOptions = { 
                                    day:    '2-digit', 
                                    month:  '2-digit', 
                                    year:   'numeric',
                                    hour:   '2-digit', 
                                    minute: '2-digit',
                                    hour12: true 
                                };
                                var dateStringEnd = end_date.toLocaleDateString('en-US', formatOptions);
                                // => "02/17/2017, 11:32 PM"

                                %>
                                <form action="/TransaksiNewEvent/EditSubmit?id=<%= new_event.id %>" id="demo-form2" data-parsley-validate method="post" class="form-horizontal form-label-left" novalidate>
                                    <!-- <input type="hidden" name="_METHOD" value="PUT" /> -->
                                    <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sls_kode1" >Sales Name<span class="required">*</span>
                          </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <select class="select2_single form-control" tabindex="-1" name="sls_kode1" id="sls_kode1" onchange="IsiSlsCode()">
                                                    <% objLOVsls.forEach(function (sls) { %>
                                                        <option value="<%= sls.sls_kode%>" id="sls_kode1"><%= sls.sls_nama%></option>
                                                    <% }) %> 
                                                </select>
                                            </div>
                                        </div>
                                        <div class="item form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sls_kode">Sales Code <span class="required">*</span>
                              </label>
                                                <div class="col-md-6 col-sm-6 col-xs-11">
                                                    <input id="sls_kode" class="form-control col-md-7 col-xs-12" name="sls_kode" placeholder="Sales Code" required="required" type="text" value="<%= new_event.sls_kode %>">
                                                </div>
                                            </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="event_code">Event Code <span class="required">*</span>
                  </label>
                                        <div class="col-md-6 col-sm-6 col-xs-11">
                                            <input id="event_code" value="<%= new_event.event_code %>" class="form-control col-md-7 col-xs-11" name="event_code" placeholder="Event Code" required="required" type="text" readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="activity_code">Activity Code <span class="required">*</span>
                      </label>
                                            <div class="col-md-6 col-sm-6 col-xs-11">
                                                <input id="activity_code" value="<%= new_event.activity_code %>" class="form-control col-md-7 col-xs-11" name="activity_code" placeholder="Activity Code" required="required" type="text" readonly="readonly">
                                            </div>
                                        </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="event_name">Title <span class="required">*</span>
                  </label>
                                        <div class="col-md-6 col-sm-6 col-xs-11">
                                            <input id="title" value="<%= new_event.title %>" name="title" placeholder="Title" required="required" class="form-control col-md-7 col-xs-11">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label id="label_id_type" class="control-label col-md-3 col-sm-3 col-xs-12" for="id_type" style="display:none">Id Event Category <span class="required">*</span>
                  </label>
                                        <div class="col-md-6 col-sm-6 col-xs-11">
                                            <input id="id_type" value="<%= new_event.id_type %>" name="id_type" placeholder="Id Event Category" required="required" class="form-control col-md-7 col-xs-11" readonly="readonly" type="hidden">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="event_type">Event Type <span class="required">*</span>
                  </label>
                                        <div class="col-md-6 col-sm-6 col-xs-11">
                                            <input id="event_type" value="<%= new_event.event_type %>" name="event_type" placeholder="Event Type" required="required" class="form-control col-md-7 col-xs-11" readonly="readonly">
                                        </div>

                                        <div class="col-md-1 col-md-1 col-xs-1"> 
                                            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">...</button>   
                                                <!-- Modal -->
                                                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                        <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                            <h4 class="modal-title" id="myModalLabel">Category</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="item form-group">
                                                                    <label class="col-md-3 col-sm-3 col-xs-12">Event Category
                                                                    </label>
                                                                        <div class="col-md-8 col-sm-6 col-xs-11">
                                                                            <input id="input_event" onkeyup="functionSearchEvent()" placeholder="Search for category" class="form-controls col-md-6 col-xs-9">
                                                                        </div>
                                                                </div>
                                                                <div class="item form-group">
                                                                        <label class="col-md-3 col-sm-3 col-xs-12">Description
                                                                        </label>
                                                                            <div class="col-md-8 col-sm-6 col-xs-11">
                                                                            <input id="input_desc" onkeyup="functionSearchDesc()" placeholder="Search for description" class="form-controls col-md-6 col-xs-9">
                                                                            </div>
                                                                </div>
                                                                <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                                                        <thead>
                                                                            <tr>
                                                                                <th id="th_id_event">Id Event Category</th>
                                                                                <th>Event Type</th>
                                                                                <th>Description</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody data-position="0" data-jump="5">
                                                                                <% objLOV.forEach(function (lov) { %>
                                                                                    <tr onclick="callme(this)">
                                                                                        <td class="id_event">
                                                                                            <%= lov.id %>
                                                                                        </td>
                                                                                        <td>
                                                                                            <%= lov.event_type %>
                                                                                        </td>
                                                                                        <td>
                                                                                            <%= lov.description %>
                                                                                        </td>
                                                                                    </tr>
                                                                                <% }) %>
                                                                        </tbody>
                                                                </table>
                                                                <div class="row">
                                                                    <div class="col-md-9 col-sm-9 col-xs-9"></div>
                                                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                                                                <button class="less btn-default"> < <span class="count"></span>
                                                                                </button>
                                                                                <button class="more btn-default"> > <span class="count"></span>
                                                                                </button>
                                                                                <span> page: </span> <span id="page"></span>
                                                                        </div>
                                                                    </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                            </div>
                                                        </div>
                                                        </div>
                                                </div>  
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Detail <span class="required">*</span>
                  </label>
                                        <div class="col-md-6 col-sm-6 col-xs-11">
                                            <input id="detail" value="<%= new_event.detail %>" name="detail" placeholder="Detail" required="required" class="form-control col-md-7 col-xs-11" readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Status *</label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <select class="form-control" tabindex="-1" name="status" id="status" required="required">
                                                <option value="Scheduled">Scheduled</option>
                                                <option value="Confirmed">Confirmed</option>
                                                <option value="In Progress">In Progress</option>
                                                <option value="Completed">Completed</option>
                                            </select>
                                            </div>
                                        </div>
                                    <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Active *</label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <select class="form-control" tabindex="-1" name="active" id="active">
                                                <option value="1">Active</option>
                                                <option value="0">Non Active</option>
                                            </select>
                                            </div>
                                    </div>
                                    <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12">All Day *</label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <select class="form-control" tabindex="-1" name="all_day" id="all_day">
                                                <option value="1">Yes</option>
                                                <option value="0">No</option>
                                            </select>
                                            </div>
                                    </div>
                                    <script>
                                            $(document).ready(function(){
                                                $("#all_day").val("<%= new_event.all_day%>");
                                                $("#status").val("<%= new_event.status%>");
                                                $("#active").val("<%= new_event.active%>"); 
                                                $("#sls_kode1").val("<%= new_event.sls_kode%>");
                                            });
                                    </script>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="start_date">Start Date <span class="required">*</span>
                  </label>
                                        <div class="col-md-6 col-sm-6 col-xs-11">
                                            <input id="start_date" value="<%= dateStringStart %>" name="start_date" placeholder="Start Date" required="required" class="form-control col-md-7 col-xs-11">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="end_date">End Date <span class="required">*</span>
                  </label>
                                        <div class="col-md-6 col-sm-6 col-xs-11">
                                            <input id="end_date" value="<%= dateStringEnd %>" name="end_date" placeholder="End Date" required="required" class="form-control col-md-7 col-xs-11" type="datetime-local">
                                        </div>
                                    </div>

                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="location_name">Event Location <span class="required">*</span>
                  </label>
                                        <div id="map"></div>
                                        <!-- Replace the value of the key parameter with your own API key. -->
                                        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCP5NzEK6b3Kdsjj5N-FFPC1hgiKy3OTME&libraries=places&callback=initAutocomplete" async defer>
                                        </script>
                                        <div class="col-md-6 col-sm-6 col-xs-11">
                                            <input id="location_name" value="<%= new_event.location_name %>" name="location_name" placeholder="Search Location" required="required" class="form-control col-md-12 col-xs-11">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="latitude">Latitude <span class="required">*</span>
                  </label>
                                        <div class="col-md-6 col-sm-6 col-xs-11">
                                            <input id="latitude" value="<%= new_event.latitude %>" name="latitude" "Latitude (-6.1753924)" required="required" class="form-control col-md-7 col-xs-11" readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Longitude">Longitude <span class="required">*</span>
                  </label>
                                        <div class="col-md-6 col-sm-6 col-xs-11">
                                            <input id="longitude" value="<%= new_event.longitude %>" name="longitude" placeholder="Longitude (106.8271528)" required="required" class="form-control col-md-7 col-xs-11" readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="radius">Radius <span class="required">*</span>
                  </label>
                                        <div class="col-md-6 col-sm-6 col-xs-11">
                                            <input id="radius" value="<%= new_event.radius %>" name="radius" placeholder="Radius" required="required" class="form-control col-md-7 col-xs-11">
                                        </div>
                                    </div>
                                    <div class="ln_solid"></div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-md-offset-3">
                                            <a type="submit" class="btn btn-primary" href="/TransaksiNewEvent/Index">Cancel</a>
                                            <button id="send" type="submit" class="btn btn-success">Submit</button>
                                        </div>
                                    </div>
                                </form>
                                <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer content -->
        <%- partial('../partials/footer') %>
            <!-- /footer content -->

    </div>

    <script>
            /* Variable Defaults */
               var total    = $('tbody > tr').length;
               var position = $('tbody').data('position');
               var jump     = $('tbody').data('jump');
               var paginate = function(position, jump) {
           /* Show Default Items */
               $('tbody > tr').each(function() {
                   /* Variable Defaults */
                   var index = $(this).index();
       
                   /* Condition */
                   var condition = (index >= position) && (index < position + jump);
       
                   /* Hide/Show Item */
                   $(this).toggle(condition);
       
                   /* Set Disabled Status */
                   $('.less').prop('disabled', (position - jump) < 0);
                   $('.more').prop('disabled', (position + jump) >= total);
               });
               };
       
        //    /* Set Default Text */
        //        $('.count').text(jump);
       
           /* Init Paginate */
               paginate(position, jump);
       
           /* Bind Click Events to "Less" and "More" Button */
               $('.less, .more').on('click', function() {
                   /* Decrease/Increase Position */
                   position = $(this).hasClass('less') ? $('tbody').data('position') - jump : $('tbody').data('position') + jump;
       
                   /* Paginate */
                   paginate(position, jump);
       
                   /* Update Position */
                   $('tbody').data('position', position);
               });
               
               function changePage(page){
                var page_span = document.getElementById("page");
    
                    if (page < 1) page = 1;
                    if (page > numPages()) page = numPages();
    
                    for (var i = 0; i < pageRecord; i++)
                    {
                    page_span.innerHTML = page;
                    }
               }
    
                window.onload = function() {
                    changePage(1);
                };
           </script>

    <script>
        function functionSearchEvent() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("input_event");
            filter = input.value.toUpperCase();
            table = document.getElementById("datatable-responsive");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                  if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }       
              }
            }

            function functionSearchDesc() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("input_desc");
            filter = input.value.toUpperCase();
            table = document.getElementById("datatable-responsive");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                  if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }       
              }
            }
    </script>
    
    <script>
        function callme(e)
        {
          var tds=e.getElementsByTagName('td');
          document.getElementById("id_type").value = tds[0].innerHTML.trim();
          document.getElementById("event_type").value = tds[1].innerHTML.trim();
        
          $('#myModal').modal('hide');
        }    

        window.onload = function () {
            var ids = document.getElementsByClassName("id_event");
                for (var i = 0; i < ids.length; i++) {
                    ids[i].style.display = "none";
                }
            document.getElementById("th_id_event").style.display = "none";
        }
    </script>

    <script>
        function initAutocomplete() {
            var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -33.8688, lng: 151.2195},
            zoom: 13,
            mapTypeId: 'roadmap'
            });

            var lat = document.getElementById('latitude');
            var lng = document.getElementById('longitude');
            
            // Create the search box and link it to the UI element.
            var input = document.getElementById('location_name');
            var searchBox = new google.maps.places.SearchBox(input);
            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

            // Bias the SearchBox results towards current map's viewport.
            map.addListener('bounds_changed', function() {
            searchBox.setBounds(map.getBounds());
            });

            // Listen for the event fired when the user selects a prediction and retrieve
            // more details for that place.
            searchBox.addListener('places_changed', function() {
            var places = searchBox.getPlaces();

            if (places.length == 0) {
                return;
            }

            // For each place, get the icon, name and location.
            var bounds = new google.maps.LatLngBounds();
            places.forEach(function(place) {
                if (!place.geometry) {
                console.log("Returned place contains no geometry");
                return;
                }
                                                        
                var loc = place.geometry.location;
                var templat = loc.lat();
                var templng = loc.lng();
            
                document.getElementById("latitude").value = templat;
                document.getElementById("longitude").value = templng;
            

                if (place.geometry.viewport) {
                // Only geocodes have viewport.
                bounds.union(place.geometry.viewport);
                } else {
                bounds.extend(place.geometry.location);
                }
            });
            map.fitBounds(bounds);

            
            });
        }
    </script>

    <script>
        function IsiSlsCode() {
        var slsKode = document.getElementById("sls_kode1").value;
        // alert(idBranch);
        document.getElementById("sls_kode").value = slsKode;
        }
    </script>

