<% layout('../partials/layout') -%>
    <!-- <script type="text/javascript">
        $().ready(function() {
            if (document.referrer != '<%= link %> + MasterTraining/Edit') {
                history.pushState(null, null, '/MasterTraining/Edit');
                window.addEventListener('popstate', function() {
                    history.pushState(null, null, '/MasterTraining/Edit');
                });
            }
        });
    </script> -->
    <div class="right_col" role="main">
        <div class="">
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Master Training<small>edit</small></h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <% obj.forEach(function (training) { %>
                                <form action="/MasterTraining/EditSubmit?id=<%= training.id %>" id="demo-form2" data-parsley-validate method="post" enctype="multipart/form-data" class="form-horizontal form-label-left" novalidate>
                                    <!-- <input type="hidden" name="_METHOD" value="PUT" /> -->
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="code">Code <span class="required">*</span>
                  </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="code" value="<%= training.code %>" class="form-control col-md-7 col-xs-12" name="code" placeholder="Training Code" required="required" type="text">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">Title <span class="required">*</span>
                  </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="title" value="<%= training.title %>" name="title" placeholder="Training Title" required="required" class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Description <span class="required">*</span>
                  </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="description" value="<%= training.description %>" name="description" placeholder="Training Description" required="required" class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Type</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="select2_single form-control" tabindex="-1" name="type">
                                            
                                            <option value="salesman" <%= training.type=='salesman' ? 'selected' : '' %>>Salesman</option>
                                            <option value="salesforce" <%= training.type=='salesforce' ? 'selected' : '' %>>Salesforce</option>
                                          </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Level</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="select2_single form-control" tabindex="-1" name="level">
                                                    <option value="basic" <%= training.level=='basic' ? 'selected' : '' %>>Basic</option>
                                                    <option value="intermediate" <%= training.level=='intermediate' ? 'selected' : '' %>>Intermediate</option>
                                                    <option value="advance" <%= training.level=='advance' ? 'selected' : '' %>>Advance</option>
                                                  </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Attachment</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <table class="table table-bordered" id="tab_logic">
                                                <thead>
                                                    <tr>
                                                        <th class="text-center">
                                                            #
                                                        </th>
                                                        <th class="text-center">
                                                            File
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% 
                                                        var sum = 0;
                                                        objdet.forEach(function (trainingDetail) 
                                                        {
                                                            var file = trainingDetail.attachment;
                                                            var fileAt = file.substr(44);
                                                            sum++;
                                                             %>
                                                        <tr id='addr0'>
                                                            <td>
                                                                <%= sum %>
                                                            </td>
                                                            <td>
                                                                <div class="input-group input-file">
                                                                    <span class="input-group-btn">
                                                                                    <button class="btn btn-default btn-choose" type="button">Choose</button>
                                                                                </span>
                                                                    <input type="text" class="form-control" placeholder='Choose a file...' id='<%=trainingDetail.id%>' name="<%=trainingDetail.id%>" value=" <%= fileAt %>" />
                                                                    <span class="input-group-btn">
                                                                                        <button class="btn btn-dark btn-reset" type="button">Reset</button>
                                                                                </span>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <% })%>
                                                </tbody>
                                            </table>
                                        </div>
                                        <a id="add_row" class="btn btn-dark pull-left">Add Row</a>
                                        <a id='delete_row' class="pull-left btn btn-dark">Delete Row</a>
                                    </div>
                                    <div class="ln_solid"></div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-md-offset-3">
                                            <a type="submit" class="btn btn-primary" href="/MasterTraining/Index">Cancel</a>
                                            <button id="send" type="submit" class="btn btn-success">Submit</button>
                                        </div>
                                    </div>
                                </form>
                                <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer content -->
        <%- partial('../partials/footer') %>
            <!-- /footer content -->

    </div>
    <script>
        var filenames = [];

        function bs_input_file() {
            $(".input-file").before(
                function() {
                    if (!$(this).prevAll('input').first().hasClass('input-ghost')) {
                        var element = $("<input type='file' name='file' class='input-ghost' style='visibility:hidden; height:0'>");
                        element.attr("name", $(this).find("input").first().attr("name"));

                        element.change(function() {
                            if (filenames.indexOf(element.val()) >= 0) {
                                alert("This file has been chosen");
                                element.val(null);
                            } else {
                                filenames.push(element.val());

                                element.nextAll(element).find('input').val((element.val()).split('\\').pop());
                            }
                        });
                        $(this).find("button.btn-choose").click(function() {
                            element.click();
                        });
                        $(this).find("button.btn-reset").click(function() {
                            element.val(null);
                            $(this).parents(".input-file").find('input').val('');
                        });
                        $(this).find('input').css("cursor", "pointer");
                        $(this).find('input').mousedown(function() {
                            $(this).parents('.input-file').prevAll('input').first().click();
                            return false;
                        });
                        return element;
                    }
                }
            );
        }
        $(function() {

        });
    </script>
    <script>
        $(document).ready(function() {
            bs_input_file();
            var i = <%= objdet.length %>;
            $("#add_row").click(function() {
                $('#addr' + i).html(
                    "<td>" + (i) + "</td><td><div class='input-group input-file'><span class='input-group-btn'><button class='btn btn-default btn-choose' type='button'>Choose</button></span><input type='text' class='form-control' placeholder='Choose a file...' id='file'/><span class='input-group-btn'><button class='btn btn-dark btn-reset' type='button'>Reset</button></span></div></td>");
                $('#tab_logic').append('<tr id="addr' + (i + 1) + '"></tr>');
                i++;
                bs_input_file();
            });
            $("#delete_row").click(function() {
                if (i > 1) {
                    $("#addr" + (i - 1)).html('');
                    i--;
                }
            });
        });
    </script>