<% layout('../partials/layout') -%>
    <script type="text/javascript">
        $().ready(function() {
            if (document.referrer != '<%= link %> + MasterCustomerProspect/Index') {
                history.pushState(null, null, '/MasterCustomerProspect/Index');
                window.addEventListener('popstate', function() {
                    history.pushState(null, null, '/MasterCustomerProspect/Index');
                });
            }
        });
    </script>
    <div class="right_col" role="main">
        <div id="alertSuccess" class="alert alert-success alert-dismissible fade in" role="alert" style="display: none;">
            <a href="/MasterCustomerProspect/Index" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
        </a>
            <%- JSON.stringify(message) %>
        </div>
        <div class="">
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Master Customer Prospect
                                <small>index</small>
                            </h2>
                            <div class="clearfix"></div>
                        </div>
                        <% if(user.title != 'Admin Main Dealer' ){  %>
                            <a type="button" class="btn btn-dark" href="/MasterCustomerProspect/Add">Upload Data</a>
                            <% } %>
                                <div class="x_content">
                                    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>Code</th>
                                                <th>Name</th>
                                                <th>Handphone</th>
                                                <th>Address</th>
                                                <th>Jenis Kelamin</th>
                                                <th>Status</th>
                                                <th>Created By</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% obj.forEach(function (cp) { %>
                                                <tr>
                                                    <td>
                                                        <%= cp.cust_code %>
                                                    </td>
                                                    <td>
                                                        <%= cp.cust_nama %>
                                                    </td>
                                                    <td>
                                                        <%= cp.cust_hp %>
                                                    </td>
                                                    <td>
                                                        <%= cp.cust_alamat %>
                                                    </td>
                                                    <td>
                                                        <% if(cp.cust_kelamin == 'L' ){  %>
                                                            Laki-Laki
                                                            <%  }else if(cp.cust_kelamin == 'P'){ %>
                                                                Perempuan
                                                                <%     }else{ %>
                                                                    -
                                                                    <%     }%>
                                                    </td>
                                                    <td>
                                                        <% if(cp.status_profile == '1' ){  %>
                                                            <p style="color:#388E3C;font-weight: bold"> PLANED </p>
                                                            <%  }else if(cp.status_profile == '2'){ %>
                                                                <p style="color:#1976D2;font-weight: bold"> COLD </p>
                                                                <%     }else if(cp.status_profile == '3'){ %>
                                                                    <p style="color:#b41f0b;font-weight: bold"> HOT </p>
                                                                    <%     }else if(cp.status_profile == '4'){ %>
                                                                        <p style="color:#F57C00;font-weight: bold"> PENDING </p>
                                                                        <%     }else if(cp.status_profile == '5'){ %>
                                                                            <p style="color:#5D4037;font-weight: bold"> LOST </p>
                                                                            <%     }else if(cp.status_profile == '6'){ %>
                                                                                <p style="color:#7B1FA2;font-weight: bold"> DEAL </p>
                                                                                <%     } %>
                                                    </td>
                                                    <td>
                                                        <%= cp.name %>
                                                    </td>
                                                    <!-- <td>
                                                <a class="btn btn-primary btn-xs" href="/MasterCustomerProspect/Index?id=<%= cp.id %>">
                                                    <i class="fa fa-folder"></i>View</a> -->
                                                    <!-- <a class="btn btn-info btn-xs" href="/MasterCustomerProspect/Edit?id=<%= cp.id %>">
                                                    <i class="fa fa-pencil"></i> Edit</a>
                                                <a class="btn btn-danger btn-xs" href="/MasterCustomerProspect/Delete?id=<%= cp.id %>" onclick="return confirm('Are you sure you want to delete this item?');">
                                                    <i class="fa fa-trash-o"></i> Delete</a> -->
                                                    <!-- </td> -->
                                                </tr>
                                                <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer content -->
        <%- partial('../partials/footer') %>
            <!-- /footer content -->
    </div>
    <script>
        var handleDataTableButtons = function() {
                "use strict";
                0 !== $("#datatable-buttons").length && $("#datatable-buttons").DataTable({
                    dom: "Bfrtip",
                    buttons: [{
                        extend: "copy",
                        className: "btn-sm"
                    }, {
                        extend: "csv",
                        className: "btn-sm"
                    }, {
                        extend: "excel",
                        className: "btn-sm"
                    }, {
                        extend: "pdf",
                        className: "btn-sm"
                    }, {
                        extend: "print",
                        className: "btn-sm"
                    }],
                    responsive: !0
                })
            },
            TableManageButtons = function() {
                "use strict";
                return {
                    init: function() {
                        handleDataTableButtons()
                    }
                }
            }();
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            let myVar = <%- JSON.stringify(message) %>;
            if (myVar != null) {
                document.getElementById('alertSuccess').style.display = 'block';
            }
            $('#datatable').dataTable();
            $('#datatable-keytable').DataTable({
                keys: true
            });
            $('#datatable-responsive').DataTable({
                "aaSorting": []
            });
            $('#datatable-scroller').DataTable({
                ajax: "js/datatables/json/scroller-demo.json",
                deferRender: true,
                scrollY: 380,
                scrollCollapse: true,
                scroller: true
            });
            var table = $('#datatable-fixed-header').DataTable({
                fixedHeader: true
            });
        });
        TableManageButtons.init();
    </script>
    <script src="../js/datatables/jquery.dataTables.min.js"></script>
    <script src="../js/datatables/dataTables.bootstrap.js"></script>
    <script src="../js/datatables/dataTables.buttons.min.js"></script>
    <script src="../js/datatables/buttons.bootstrap.min.js"></script>
    <script src="../js/datatables/jszip.min.js"></script>
    <script src="../js/datatables/pdfmake.min.js"></script>
    <script src="../js/datatables/vfs_fonts.js"></script>
    <script src="../js/datatables/buttons.html5.min.js"></script>
    <script src="../js/datatables/buttons.print.min.js"></script>
    <script src="../js/datatables/dataTables.fixedHeader.min.js"></script>
    <script src="../js/datatables/dataTables.keyTable.min.js"></script>
    <script src="../js/datatables/dataTables.responsive.min.js"></script>
    <script src="../js/datatables/responsive.bootstrap.min.js"></script>
    <script src="../js/datatables/dataTables.scroller.min.js"></script>