<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="/" class="site_title"><i class="fa fa-gears"></i> <span>WMC</span></a>
        </div>
        <div class="clearfix"></div>
        <!-- menu prile quick info -->
        <div class="profile">
            <div class="profile_pic">
                <% if(user.gender == 'p'){ %>
                    <img src="../images/userfemale.png" alt="..." class="img-circle profile_img">
                    <% }else{ %>
                        <img src="../images/usermale.png" alt="..." class="img-circle profile_img">
                        <% } %>
            </div>
            <div class="profile_info">
                <span>Welcome,</span>
                <h2><b><%- user.name %></b></h2>
            </div>
        </div>
        <!-- /menu prile quick info -->
        <br />
        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <h3>
                    <%- user.title %>
                </h3>
                <ul class="nav side-menu">
                    <li>
                        <a><i class="fa fa-home"></i> Home<span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            <li><a href="/">Dashboard</a>
                            </li>
                        </ul>
                    </li>
                    <% if(user.title == 'Admin Main Dealer'){ %>
                        <li>
                            <a><i class="fa fa-edit"></i> Data Master <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu" style="display: none">
                                <li><a href="/MasterCustomerProspect/Index">Master Customer Prospect</a>
                                </li>
                                <li><a href="/MasterTraining/Index">Master Training</a>
                                </li>
                                <li><a href="/MasterQuiz/Index">Master Quiz</a>
                                </li>
                                <li><a href="/TrainingSchedule/Index">Training Schedule</a>
                                </li>
                                <!-- <li><a href="/MasterCicilanKredit/Index">Master Cicilan Kredit</a>
                                </li> -->
                                <li><a href="/UploadGalery/Index">Master Galery</a>
                                </li>
                                <li><a href="/MasterSalesmen/Index">Master Salesmen</a>
                                </li>
                                <li><a href="/MasterUser/Index">Master User</a>
                                </li>
                                <li><a href="/MasterUserNon/Index">Master User Non</a>
                                </li>
                            </ul>
                        </li>
                        <% } %>

                            <% if(user.title == 'Admin Dealer'){ %>
                                <li>
                                    <a><i class="fa fa-edit"></i> Data Master <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        <li><a href="/MasterTargetAdmin/Index">Master Target</a>
                                        </li>
                                    </ul>
                                </li>
                                <% } %>

                                    <% if(user.title == 'Supervisor'){ %>
                                        <li>
                                            <a><i class="fa fa-edit"></i> Data Master <span class="fa fa-chevron-down"></span></a>
                                            <ul class="nav child_menu" style="display: none">
                                                <li><a href="/MasterCustomerProspect/Index">Master Customer Prospect</a>
                                                </li>
                                                <li><a href="/MasterTarget/Index">Master Target</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <% } %>
                                            <li>
                                                <a><i class="fa fa-desktop"></i> Transaction<span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu" style="display: none">
                                                    <% if(user.title == 'Admin Main Dealer'){ %>
                                                        <li><a href="/TransaksiNewEvent/Index">Transaksi New Event</a>
                                                        </li>
                                                        <li><a href="/TransaksiNewEventNon/Index">Transaksi New Event Non DMS</a>
                                                        </li>
                                                        <li><a href="/ApproveTraining/Index">Approval Training</a>
                                                        </li>
                                                        <% } %>
                                                            <!-- <li><a href="/">Transaction 2</a>
                                    </li>
                                    <li><a href="/">Transaction 3</a>
                                    </li> -->
                                                </ul>
                                            </li>
                                            <li>
                                                <a><i class="fa fa-bar-chart-o"></i> Report<span class="fa fa-chevron-down"></span></a>
                                                <ul class="nav child_menu" style="display: none">
                                                    <!-- <li><a href="/">Report 1</a>
                            </li>
                            <li><a href="/">Report 2</a>
                            </li>
                            <li><a href="/">Report 3</a>
                            </li> -->
                                                </ul>
                                            </li>
                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->
        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <a data-toggle="tooltip" data-placement="top" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="FullScreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a data-toggle="tooltip" data-placement="top" title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</div>