<% layout('../partials/layout') -%>
    <!-- <script type="text/javascript">
        $().ready(function() {
            if (document.referrer != '<%= link %> + MasterTraining/View') {
                history.pushState(null, null, '/MasterTraining/View');
                window.addEventListener('popstate', function() {
                    history.pushState(null, null, '/MasterTraining/View');
                });
            }
        });
    </script> -->
    <div class="right_col" role="main">

        <div class="">
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Training Schedule<small>detail</small></h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <% obj.forEach(function (training) { %>
                                <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Schedule Code : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="first-name"><%= training.training_schedule_code %></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Training Code : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="first-name"><%= training.training_code %></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Training name : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="first-name"><%= training.training_name %></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Start Date : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="first-name"><%= training.training_schedule_start_date %></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">End Date : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="first-name"><%= training.training_schedule_end_date %></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Quota : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="first-name"><%= training.kuota %></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Created date : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="first-name"><%= training.training_schedule_date %></label>
                                        </div>
                                    </div>
                                    <div class="ln_solid"></div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                            <a type="submit" class="btn btn-primary" href="/TrainingSchedule/Index">Back</a>
                                        </div>
                                    </div>

                                </form>
                                <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer content -->
        <%- partial('../partials/footer') %>
            <!-- /footer content -->

    </div>