<% layout('../partials/layout') -%>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker.css" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        $(function() {
            $('#month_year').datepicker({
                format: 'yyyy-mm',
                viewMode: "months",
                minViewMode: "months",
                autoClose: true
            });
        });
    </script>
    <div class="right_col" role="main">
        <div id="alertSuccess" class="alert alert-success alert-dismissible fade in" role="alert" style="display: none;">
            <a href="/MasterTarget/Add" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                </a>
            <%- JSON.stringify(message) %>
        </div>
        <div class="">
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Master Target<small>add</small></h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <form action="/MasterTarget/AddSubmit" method="post" enctype="multipart/form-data" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" novalidate>
                                <div class="item form-group">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Salesman <span class="required">*</span></label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="select2_single form-control" tabindex="-1" name="salesman">
                                                    <% obj.forEach(function (target) { %>
                                                    <option value="<%= target.id %>"><%= target.sls_nama %></option>
                                                    <% }) %>
                                                  </select>
                                        </div>
                                    </div>
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="code">Target Prospect <span class="required">*</span>
                  </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="code" class="form-control col-md-7 col-xs-12" name="prospect" placeholder="Target Prospect" required="required" type="number">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">Target Deal <span class="required">*</span>
                  </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="title" name="deal" placeholder="Target Deal" required="required" class="form-control col-md-7 col-xs-12" type="number">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Periode <span class="required">*</span>
                  </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="month_year" name="periode" placeholder="yyyy-mm" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-md-offset-3">
                                        <a type="submit" class="btn btn-primary" href="/MasterTarget/Index">Cancel</a>
                                        <button id="send" type="submit" class="btn btn-success">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer content -->
        <%- partial('../partials/footer') %>
            <!-- /footer content -->
    </div>
    <script>
        var filenames = [];

        function bs_input_file() {
            $(".input-file").before(
                function() {
                    if (!$(this).prevAll('input').first().hasClass('input-ghost')) {
                        var element = $("<input type='file' name='file' class='input-ghost' style='visibility:hidden; height:0'>");
                        element.attr("name", $(this).attr("name"));
                        element.change(function() {
                            if (filenames.indexOf(element.val()) >= 0) {
                                alert("This file has been chosen");
                                element.val(null);
                            } else {

                                console.log(element.val());
                                filenames.push(element.val());

                                element.nextAll(element).find('input').val((element.val()).split('\\').pop());
                            }
                        });
                        $(this).find("button.btn-choose").click(function() {
                            element.click();
                        });
                        $(this).find("button.btn-reset").click(function() {
                            element.val(null);
                            $(this).parents(".input-file").find('input').val('');
                        });
                        $(this).find('input').css("cursor", "pointer");
                        $(this).find('input').mousedown(function() {
                            $(this).parents('.input-file').prevAll('input').first().click();
                            return false;
                        });
                        return element;
                    }
                }
            );
        }
        $(function() {
            bs_input_file();
        });
    </script>
    <script>
        $(document).ready(function() {
            var i = 1;
            $("#add_row").click(function() {
                $('#addr' + i).html(
                    "<td>" + (i) + "</td><td><div class='input-group input-file'><span class='input-group-btn'><button class='btn btn-default btn-choose' type='button'>Choose</button></span><input type='text' class='form-control' placeholder='Choose a file...'/><span class='input-group-btn'><button class='btn btn-dark btn-reset' type='button'>Reset</button></span></div></td>");
                $('#tab_logic').append('<tr id="addr' + (i + 1) + '"></tr>');
                i++;
                bs_input_file();
            });
            $("#delete_row").click(function() {
                if (i > 1) {
                    $("#addr" + (i - 1)).html('');
                    i--;
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            let myVar = <%- JSON.stringify(message) %>;
            if (myVar != null) {
                document.getElementById('alertSuccess').style.display = 'block';
            }
        });
    </script>

    </html>