<% layout('../partials/layout') -%>
    <script type="text/javascript">
        $().ready(function() {
            if (document.referrer != '<%= link %> + ApproveTraining/Index') {
                history.pushState(null, null, '/ApproveTraining/Index');
                window.addEventListener('popstate', function() {
                    history.pushState(null, null, '/ApproveTraining/Index');
                });
            }
        });
    </script>
    <div class="right_col" role="main">
        <div id="alertSuccess" class="alert alert-success alert-dismissible fade in" role="alert" style="display: none;">
            <a href="/ApproveTraining/Index" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
        </a>
            <%- JSON.stringify(message) %>
        </div>
        <div class="">
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Approval Training
                                <small>index</small>
                            </h2>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Sales Code</th>
                                        <th>Sales Name</th>
                                        <th>Register Date</th>
                                        <th>Training Code</th>
                                        <th>Training</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% obj.forEach(function (training) { %>
                                        <tr>
                                            <td>
                                                <%= training.sls_kode %>
                                            </td>
                                            <td>
                                                <%= training.sls_nama %>
                                            </td>
                                            <td>
                                                <%= training.tgl_daftar %>
                                            </td>
                                            <td>
                                                <%= training.training_code %>
                                            </td>
                                            <td>
                                                <%= training.training_name %>
                                            </td>
                                            <td>
                                                <%= training.training_schedule_start_date %>
                                            </td>
                                            <td>
                                                <%= training.training_schedule_end_date %>
                                            </td>

                                            <% if(training.status_approve == "0"){ %>
                                                <td>
                                                    <b style="color:slategray">Not Yet Approved</b>
                                                </td>
                                                <% } else if(training.status_approve == "1") { %>
                                                    <td>
                                                        <b style="color:darkcyan">Approved</b>
                                                    </td>
                                                    <% }else{ %>
                                                        <td>
                                                            <b style="color:crimson">Rejected</b>
                                                        </td>
                                                        <% } %>
                                                            <% if(training.compare == "0" && training.status_approve == "0"){ %>
                                                                <td>
                                                                    <a class="btn btn-primary btn-xs" href="/ApproveTraining/SubmitApprove?id=<%= training.id %>&training_schedule_id=<%= training.training_schedule_id %>">
                                                                        <i class="fa fa-plus"></i> Approve</a>
                                                                    <a class="btn btn-danger btn-xs" href="/ApproveTraining/SubmitReject?id=<%= training.id %>&training_schedule_id=<%= training.training_schedule_id %>">
                                                                        <i class="fa fa-plus"></i> Reject</a>
                                                                </td>
                                                                <% }else{ %>
                                                                    <td>-</td>
                                                                    <% } %>
                                        </tr>
                                        <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer content -->
        <%- partial('../partials/footer') %>
            <!-- /footer content -->
    </div>

    <script>
        var handleDataTableButtons = function() {
                "use strict";
                0 !== $("#datatable-buttons").length && $("#datatable-buttons").DataTable({
                    dom: "Bfrtip",
                    buttons: [{
                        extend: "copy",
                        className: "btn-sm"
                    }, {
                        extend: "csv",
                        className: "btn-sm"
                    }, {
                        extend: "excel",
                        className: "btn-sm"
                    }, {
                        extend: "pdf",
                        className: "btn-sm"
                    }, {
                        extend: "print",
                        className: "btn-sm"
                    }],
                    responsive: !0
                })
            },
            TableManageButtons = function() {
                "use strict";
                return {
                    init: function() {
                        handleDataTableButtons()
                    }
                }
            }();
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            let myVar = <%- JSON.stringify(message) %>;
            if (myVar != null) {
                document.getElementById('alertSuccess').style.display = 'block';
            }
            $('#datatable').dataTable();
            $('#datatable-keytable').DataTable({
                keys: true
            });
            $('#datatable-responsive').DataTable({
                "aaSorting": []
            });
            $('#datatable-scroller').DataTable({
                ajax: "js/datatables/json/scroller-demo.json",
                deferRender: true,
                scrollY: 380,
                scrollCollapse: true,
                scroller: true
            });
            var table = $('#datatable-fixed-header').DataTable({
                fixedHeader: true
            });
        });
        TableManageButtons.init();
    </script>
    <script src="../js/datatables/jquery.dataTables.min.js"></script>
    <script src="../js/datatables/dataTables.bootstrap.js"></script>
    <script src="../js/datatables/dataTables.buttons.min.js"></script>
    <script src="../js/datatables/buttons.bootstrap.min.js"></script>
    <script src="../js/datatables/jszip.min.js"></script>
    <script src="../js/datatables/pdfmake.min.js"></script>
    <script src="../js/datatables/vfs_fonts.js"></script>
    <script src="../js/datatables/buttons.html5.min.js"></script>
    <script src="../js/datatables/buttons.print.min.js"></script>
    <script src="../js/datatables/dataTables.fixedHeader.min.js"></script>
    <script src="../js/datatables/dataTables.keyTable.min.js"></script>
    <script src="../js/datatables/dataTables.responsive.min.js"></script>
    <script src="../js/datatables/responsive.bootstrap.min.js"></script>
    <script src="../js/datatables/dataTables.scroller.min.js"></script>