<% layout('partials/layout') -%>
    <div class="right_col" role="main">
        <div class="">
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <div class="col-middle">
                                <div class="text-center text-center">
                                    <h1 class="error-number">404</h1>
                                    <h2>Sorry you don't have permission to access this page</h2>
                                    <p>Please back to <a href="/">Home</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer content -->
        <%- partial('partials/footer') %>
            <!-- /footer content -->
    </div>