<% layout('../partials/layout') -%>
<!-- <style type="text/css">
.modal-dialog  {width:65%;} 
</style> -->

    <div class="right_col" role="main">
        <div class="">
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>User<small>add</small></h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <form action="/MasterUserNon/AddSubmit" method="post" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" novalidate onload="hideDiv()">
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name <span class="required">*</span>
                  </label>
                                    <div class="col-md-6 col-sm-6 col-xs-11">
                                        <input id="name" class="form-control col-md-7 col-xs-12" name="name" placeholder="Name" required="required" type="text">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="username">Username <span class="required">*</span>
                  </label>
                                    <div class="col-md-6 col-sm-6 col-xs-11">
                                        <input id="username" name="username" placeholder="Username" required="required" class="form-control col-md-7 col-xs-12" readonly="readonly">
                                    </div>

                                    <div class="col-md-1 col-md-1 col-xs-1"> 
                                        <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal4">...</button>    
                                            <!-- Modal -->
                                            <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
                                                    <div class="modal-dialog modal-md" role="document" >
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">Honda ID</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                        <div class="item form-group">
                                                            <label class="col-md-3 col-sm-3 col-xs-12">Salesmen Name
                                                            </label>
                                                            <div class="col-md-8 col-sm-6 col-xs-11">
                                                                <input id="input_sales" onkeyup="functionSearchSalesname()" placeholder="Search for salesman name" class="form-controls col-md-6 col-xs-9">
                                                            </div>
                                                        </div>
                                                        <div class="item form-group">
                                                                <label class="col-md-3 col-sm-3 col-xs-12">Honda ID
                                                                </label>
                                                                <div class="col-md-8 col-sm-6 col-xs-11">
                                                                    <input id="input_honda_id" onkeyup="functionSearchHondaId()" placeholder="Search for honda id" class="form-controls col-md-6 col-xs-9">
                                                                </div>
                                                            </div>
                                                            <table id="table_honda_id" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>No Dealer</th>
                                                                            <th>Salesman Name</th>
                                                                            <th>Honda Id</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody data-position="0" data-jump="5">
                                                                        <% for(var i=0; i < objCoba.listSalesman.length; i++) { %>
                                                                            <tr onclick="honda_id_modal(this)">
                                                                                <td>
                                                                                    <%= objCoba.listSalesman[i].Hondaid.no_dlr %>
                                                                                </td>
                                                                                <td>
                                                                                    <%= objCoba.listSalesman[i].Hondaid.nama_id %>
                                                                                </td>
                                                                                <td class="honda_id">
                                                                                    <%= objCoba.listSalesman[i].Hondaid.honda_id %>
                                                                                </td>
                                                                                <% } %>
                                                                            </tr>
                                                                    </tbody>
                                                            </table>
                                                            <div class="row">
                                                            <div class="col-md-9 col-sm-9 col-xs-9"></div>
                                                            <div class="col-md-3 col-sm-3 col-xs-3">
                                                                    <button type="button" class="less btn-default"> < <span class="count"></span>
                                                                    </button>
                                                                    <button type="button" class="more btn-default"> > <span class="count"></span>
                                                                    </button>
                                                            </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                        </div>
                                                    </div>
                                                    </div>
                                            </div>  
                                    </div>
                                </div>

                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">Password <span class="required">*</span>
                  </label>
                                    <div class="col-md-6 col-sm-6 col-xs-11">
                                        <input id="password" class="form-control col-md-7 col-xs-12" name="password" placeholder="Password" required="required" type="password">
                                    </div>
                                </div>

                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone_number">Phone Number <span class="required">*</span>
                  </label>
                                    <div class="col-md-6 col-sm-6 col-xs-11">
                                        <input id="phone_number" name="phone_number" placeholder="Phone Number" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>

                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email <span class="required">*</span>
                  </label>
                                    <div class="col-md-6 col-sm-6 col-xs-11">
                                        <input id="email" name="email" placeholder="Email" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="gender">Gender <span class="required">*</span>
                  </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select class="form-control" tabindex="-1" name="gender" id="gender">
                                            <option value="L">L</option>
                                            <option value="P">P</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="birth_date">Birth Date <span class="required">*</span>
                  </label>
                                    <div class="col-md-6 col-sm-6 col-xs-11">
                                        <input id="birth_date" name="birth_date" placeholder="Birth Date" type="date" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="group_name">Group Name</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select class="select2_single form-control" id="group_name" name="group_name" onchange="IsiId()">
                                                <option value=""></option>
                                            <% objGroup.forEach(function (group) { %>
                                                <option value="<%= group.group_id%>" id="group_name"><%= group.title%></option>
                                            <% }) %>
                                        </select>
                                    </div>   
                                </div>

                                <div class="item form-group" id="GroupId">
                                    <label id="label_group_id" class="control-label col-md-3 col-sm-3 col-xs-12" for="group_id" style="display:none">Id Group <span class="required">*</span>
                  </label>
                                    <div class="col-md-6 col-sm-6 col-xs-11">
                                        <input id="group_id" name="group_id" placeholder="Id Group" required="required" class="form-control col-md-7 col-xs-12" readonly="readonly" type="hidden">
                                    </div>
                                </div>

                                <div class="item form-group" id="SalesmanId">
                                    <label id="label_id_salesmen" class="control-label col-md-3 col-sm-3 col-xs-12" for="salesman_id" style="display:none">Id Salesmen <span class="required">*</span>
                  </label>
                                    <div class="col-md-6 col-sm-6 col-xs-11">
                                        <input id="salesman_id" name="salesman_id" placeholder="Id Salesmen" class="form-control col-md-7 col-xs-12" readonly="readonly" type="hidden">
                                    </div>
                                </div>
                                <div class="item form-group" id="SalesmenModal">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sls_nama">Salesmen Name <span class="required">*</span>
                  </label>
                                    <div class="col-md-6 col-sm-6 col-xs-11">
                                        <input id="sls_nama" name="sls_nama" placeholder="Salesmen Name" class="form-control col-md-7 col-xs-12" readonly="readonly">
                                    </div>
                                                                        
                                    <div class="col-md-1 col-md-1 col-xs-1"> 
                                        <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">...</button>    
                                            <!-- Modal -->
                                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
                                                    <div class="modal-dialog modal-md" role="document" >
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">Salesman</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                        <div class="item form-group">
                                                            <label class="col-md-3 col-sm-3 col-xs-12">Salesman Name
                                                            </label>
                                                            <div class="col-md-8 col-sm-6 col-xs-11">
                                                                <input id="input_sls" onkeyup="functionSearchSls()" placeholder="Search for salesman" class="form-controls col-md-6 col-xs-9">
                                                            </div>
                                                        </div>
                                                        <div class="item form-group">
                                                                <label class="col-md-3 col-sm-3 col-xs-12">Branch Name
                                                                </label>
                                                                <div class="col-md-8 col-sm-6 col-xs-11">
                                                                    <input id="input_branch_sls" onkeyup="functionSearchBranchSls()" placeholder="Search for branch" class="form-controls col-md-6 col-xs-9">
                                                                </div>
                                                            </div>
                                                            <table id="table_sales" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                                                    <thead>
                                                                        <tr>
                                                                            <th id="th_id_salesmen">Id Salesmen </th>
                                                                            <th>Salesman Name</th>
                                                                            <th id="th_id_supervisor">Id Supervisor </th>
                                                                            <th>Supervisor Name</th>
                                                                            <th id="th_branch_id">Id Branch </th>
                                                                            <th>Branch Name</th>
                                                                            <th>Sales Kode</th>
                                                                            <th id="th_branch_code">Branch Code</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody data-position="0" data-jump="5">
                                                                        <% objSls.forEach(function (lov) { %>
                                                                            <tr onclick="callme(this)">
                                                                                <td class="salesman_id">
                                                                                    <%= lov.id %>
                                                                                </td>
                                                                                <td>
                                                                                    <%= lov.sls_nama %>
                                                                                </td>
                                                                                <td class="supervisor_id">
                                                                                    <%= lov.supervisor_id %>
                                                                                </td>
                                                                                <td>
                                                                                    <%= lov.supervisor_nama %>
                                                                                </td>
                                                                                <td class="branch_id">
                                                                                    <%= lov.branch_id %>
                                                                                </td>
                                                                                <td>
                                                                                    <%= lov.branch_name %>
                                                                                </td>
                                                                                <td>
                                                                                    <%= lov.sls_kode %>
                                                                                </td>
                                                                                <td class="branch_code">
                                                                                    <%= lov.branch_code %>
                                                                                </td>
                                                                            </tr>
                                                                        <% }) %>
                                                                    </tbody>
                                                            </table>
                                                            <div class="row">
                                                            <div class="col-md-9 col-sm-9 col-xs-9"></div>
                                                            <div class="col-md-3 col-sm-3 col-xs-3">
                                                                    <button class="less btn-default"> < <span class="count"></span>
                                                                    </button>
                                                                    <button class="more btn-default"> > <span class="count"></span>
                                                                    </button>
                                                            </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                        </div>
                                                    </div>
                                                    </div>
                                            </div>  
                                    </div>
                                </div>

                                <div class="item form-group" id="sales_kode">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sls_kode">Salesman Kode <span class="required">*</span>
                  </label>
                                    <div class="col-md-6 col-sm-6 col-xs-11">
                                        <input id="sls_kode" name="sls_kode" placeholder="Sales Kode" class="form-control col-md-7 col-xs-12" readonly="readonly">
                                    </div>
                                </div>

                                <div class="item form-group" id="SupervisorId">
                                    <label id="label_id_sp" class="control-label col-md-3 col-sm-3 col-xs-12" for="supervisor_id" style="display:none">Id Supervisor <span class="required">*</span>
                  </label>
                                    <div class="col-md-6 col-sm-6 col-xs-11">
                                        <input id="supervisor_id" name="supervisor_id" placeholder="Id Supervisor"  class="form-control col-md-7 col-xs-12" readonly="readonly" type="hidden">
                                    </div>
                                </div>
                                
                                <div class="item form-group" id="SupervisorModal">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="supervisor_nama">Supervisor Name <span class="required">*</span>
                  </label>
                                    <div class="col-md-6 col-sm-6 col-xs-11">
                                        <input id="supervisor_nama" name="supervisor_nama" placeholder="Supervisor Name"  class="form-control col-md-7 col-xs-12" readonly="readonly">
                                    </div>
                                                                        
                                    <div class="col-md-1 col-md-1 col-xs-1"> 
                                        <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal2" id="buttonSpvModal">...</button>    
                                            <!-- Modal -->
                                            <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
                                                    <div class="modal-dialog modal-md" role="document" >
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">Supervisor</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                        <div class="item form-group">
                                                            <label class="col-md-3 col-sm-3 col-xs-12">Supervisor Name
                                                            </label>
                                                            <div class="col-md-8 col-sm-6 col-xs-11">
                                                                <input id="input_spv" onkeyup="functionSearchSpv()" placeholder="Search for Supervisor" class="form-controls col-md-6 col-xs-9">
                                                            </div>
                                                        </div>
                                                        <div class="item form-group">
                                                                <label class="col-md-3 col-sm-3 col-xs-12">Branch Name
                                                                </label>
                                                                <div class="col-md-8 col-sm-6 col-xs-11">
                                                                    <input id="input_branch_spv" onkeyup="functionSearchBranchSpv" placeholder="Search for Branch Name" class="form-controls col-md-6 col-xs-9">
                                                                </div>
                                                            </div>
                                                            <table id="table_spv" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                                                    <thead>
                                                                        <tr>
                                                                            <th id="th_id_supervisor_spv">Id Supervisor</th>
                                                                            <th>Supervisor Name</th>
                                                                            <th id="th_branch_id_spv">Branch Id</th>
                                                                            <th>Branch Name</th>
                                                                            <th id="th_branch_code_spv">Branch Code</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody data-position="0" data-jump="5">
                                                                        <% objSpv.forEach(function (lovsp) { %>
                                                                            <tr onclick="supervisor(this)">
                                                                                <td class="supervisor_id">
                                                                                    <%= lovsp.id %>
                                                                                </td>
                                                                                <td>
                                                                                    <%= lovsp.supervisor_nama %>
                                                                                </td>
                                                                                <td class="branch_id">
                                                                                    <%= lovsp.branch_id %>
                                                                                </td>
                                                                                <td>
                                                                                    <%= lovsp.branch_name %>
                                                                                </td>
                                                                                <td class="branch_code">
                                                                                    <%= lovsp.branch_code %>
                                                                                </td>
                                                                            </tr>
                                                                        <% }) %>
                                                                    </tbody>
                                                            </table>
                                                            <div class="row">
                                                            <div class="col-md-9 col-sm-9 col-xs-9"></div>
                                                            <div class="col-md-3 col-sm-3 col-xs-3">
                                                                    <button class="less btn-default"> < <span class="count"></span>
                                                                    </button>
                                                                    <button class="more btn-default"> > <span class="count"></span>
                                                                    </button>
                                                            </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                        </div>
                                                    </div>
                                                    </div>
                                            </div>  
                                    </div>
                                </div>

                                <div class="item form-group" id="BranchAuto">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="branch_auto">Branch Name<span class="required">*</span>
                  </label>
                                    <div class="col-md-6 col-sm-6 col-xs-11">
                                        <input id="branch_name" name="branch_name" placeholder="Branch Name" required="required" class="form-control col-md-7 col-xs-12" readonly="readonly">
                                    </div>

                                    <div class="col-md-1 col-md-1 col-xs-1"> 
                                        <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal3" id="buttonBranchModal">...</button>    
                                           
                                            <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
                                                    <div class="modal-dialog modal-md" role="document" >
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">Branch</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                        <div class="item form-group">
                                                            <label class="col-md-3 col-sm-3 col-xs-12">Branch Name
                                                            </label>
                                                            <div class="col-md-8 col-sm-6 col-xs-11">
                                                                <input id="input_branch_name" onkeyup="functionSearchBranchName()" placeholder="Search for Branch Name" class="form-controls col-md-6 col-xs-9">
                                                            </div>
                                                        </div>
                                                        <div class="item form-group">
                                                                <label class="col-md-3 col-sm-3 col-xs-12">Branch Code
                                                                </label>
                                                                <div class="col-md-8 col-sm-6 col-xs-11">
                                                                    <input id="input_branch_code" onkeyup="functionSearchBranchCode()" placeholder="Search for Branch Code" class="form-controls col-md-6 col-xs-9">
                                                                </div>
                                                            </div>
                                                            <table id="table_branch" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                                                    <thead>
                                                                        <tr>
                                                                            <th id="">Id Branch</th>
                                                                            <th>Branch Name</th>
                                                                            <th id="">Branch Code</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody data-position="0" data-jump="5">
                                                                        <% objBranch.forEach(function (lovbranch) { %>
                                                                            <tr onclick="branch_modal(this)">
                                                                                <td class="">
                                                                                    <%= lovbranch.id %>
                                                                                </td>
                                                                                <td>
                                                                                    <%= lovbranch.name %>
                                                                                </td>
                                                                                <td class="">
                                                                                    <%= lovbranch.branch_code %>
                                                                                </td>
                                                                            </tr>
                                                                        <% }) %>
                                                                    </tbody>
                                                            </table>
                                                            <div class="row">
                                                            <div class="col-md-9 col-sm-9 col-xs-9"></div>
                                                            <div class="col-md-3 col-sm-3 col-xs-3">
                                                                    <button class="less btn-default" type="button"> < <span class="count"></span>
                                                                    </button>
                                                                    <button class="more btn-default" type="button"> > <span class="count"></span>
                                                                    </button>
                                                            </div>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                        </div>
                                                    </div>
                                                    </div>
                                            </div>  
                                    </div>
                                </div>

                                <!-- <div class="item form-group" id="BranchAdmin">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="branch_admin" >Branch Name <span class="required">*</span>
                  </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select class="select2_single form-control" tabindex="-1" name="branch_admin" id="branch_admin" onchange="IsiIdBranch()">
                                            <% objBranch.forEach(function (branch) { %>
                                                <option value="<%= branch.id%>" id="branch_admin"><%= branch.branch_name%></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div> -->

                                <div class="item form-group" id="BranchId">
                                    <label id="label_id_branch" class="control-label col-md-3 col-sm-3 col-xs-12" for="branch_id" style="display:none">Id Branch <span class="required">*</span>
                  </label>
                                    <div class="col-md-6 col-sm-6 col-xs-11">
                                        <input id="branch_id" name="branch_id" placeholder="Id Branch" required="required" class="form-control col-md-7 col-xs-12" readonly="readonly" type="hidden" >
                                    </div>
                                </div>
                                <div class="item form-group" id="BranchCode">
                                    <label id="label_id_branch" class="control-label col-md-3 col-sm-3 col-xs-12" for="branch_code" >Branch Code<span class="required">*</span>
                  </label>
                                    <div class="col-md-6 col-sm-6 col-xs-11">
                                        <input id="branch_code" name="branch_code" placeholder="Branch Code" required="required" class="form-control col-md-7 col-xs-12" readonly="readonly" >
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Status User</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select class="form-control" tabindex="-1" name="status_user" id="status_user">
                                        <option value="T">Active</option>
                                        <option value="F">Non Active</option>
                                    </select>
                                    </div>
                                </div>
                                

                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-3 col-md-offset-3">
                                        <a type="submit" class="btn btn-primary" href="/MasterUserNon/Index">Cancel</a>
                                        <button id="send" type="submit" class="btn btn-success">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer content -->
        <%- partial('../partials/footer') %>
            <!-- /footer content -->
    </div>

    <script>
        /* Variable Defaults */
           var total    = $('tbody > tr').length;
           var position = $('tbody').data('position');
           var jump     = $('tbody').data('jump');
           var paginate = function(position, jump) {
       /* Show Default Items */
           $('tbody > tr').each(function() {
               /* Variable Defaults */
               var index = $(this).index();
   
               /* Condition */
               var condition = (index >= position) && (index < position + jump);
   
               /* Hide/Show Item */
               $(this).toggle(condition);
   
               /* Set Disabled Status */
               $('.less').prop('disabled', (position - jump) < 0);
               $('.more').prop('disabled', (position + jump) >= total);
           });
           };
   
    //    /* Set Default Text */
    //        $('.count').text(jump);
   
       /* Init Paginate */
           paginate(position, jump);
   
       /* Bind Click Events to "Less" and "More" Button */
           $('.less, .more').on('click', function() {
               /* Decrease/Increase Position */
               position = $(this).hasClass('less') ? $('tbody').data('position') - jump : $('tbody').data('position') + jump;
   
               /* Paginate */
               paginate(position, jump);
   
               /* Update Position */
               $('tbody').data('position', position);
           });
           
           function changePage(page){
            var page_span = document.getElementById("page");

                if (page < 1) page = 1;
                if (page > numPages()) page = numPages();

                for (var i = 0; i < pageRecord; i++)
                {
                page_span.innerHTML = page;
                }
           }

            window.onload = function() {
                changePage(1);
            };
       </script>
   
    <script>
        function functionSearchHondaId() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("input_honda_id");
            filter = input.value.toUpperCase();
            table = document.getElementById("table_honda_id");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                  if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }       
            }
        }

        function functionSearchSalesname() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("input_sales");
        filter = input.value.toUpperCase();
        table = document.getElementById("table_honda_id");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }       
        }
        }

        function functionSearchSls() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("input_sls");
            filter = input.value.toUpperCase();
            table = document.getElementById("table_sales");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                  if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }       
            }
        }
        function functionSearchBranchSls() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("input_branch_sls");
            filter = input.value.toUpperCase();
            table = document.getElementById("table_sales");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[5];
                if (td) {
                  if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }       
            }
        }
        function functionSearchSpv() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("input_spv");
            filter = input.value.toUpperCase();
            table = document.getElementById("table_spv");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                  if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }       
            }
        }
        function functionSearchBranchSpv() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("input_branch_spv");
            filter = input.value.toUpperCase();
            table = document.getElementById("table_spv");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[3];
                if (td) {
                  if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }       
            }
        }
        function functionSearchBranchName() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("input_branch_name");
            filter = input.value.toUpperCase();
            table = document.getElementById("table_branch");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                  if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }       
            }
        }
        function functionSearchBranchCode() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("input_branch_code");
            filter = input.value.toUpperCase();
            table = document.getElementById("table_branch");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                  if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }       
            }
        }
    </script>

    <script>
        function callme(e)
        {
          var tds=e.getElementsByTagName('td');
          document.getElementById("salesman_id").value = tds[0].innerHTML.trim();
          document.getElementById("sls_nama").value = tds[1].innerHTML.trim();
          document.getElementById("supervisor_id").value = tds[2].innerHTML.trim();
          document.getElementById("supervisor_nama").value = tds[3].innerHTML.trim();
          document.getElementById("branch_id").value = tds[4].innerHTML.trim();
          document.getElementById("branch_name").value = tds[5].innerHTML.trim();
          document.getElementById("sls_kode").value = tds[6].innerHTML.trim();
          document.getElementById("branch_code").value = tds[7].innerHTML.trim();

          $('#myModal').modal('hide');

        }

        $( document ).ready(function() {
            var ids = document.getElementsByClassName("salesman_id");
                for (var i = 0; i < ids.length; i++) {
                    ids[i].style.display = "none";
                }
            document.getElementById("th_id_salesmen").style.display= "none";
        });

        $( document ).ready(function() {
            var ids = document.getElementsByClassName("supervisor_id");
                for (var i = 0; i < ids.length; i++) {
                    ids[i].style.display = "none";
                }
            document.getElementById("th_id_supervisor").style.display= "none";
        });
        $( document ).ready(function() {
            var ids = document.getElementsByClassName("branch_id");
                for (var i = 0; i < ids.length; i++) {
                    ids[i].style.display = "none";
                }
            document.getElementById("th_branch_id").style.display= "none";
        });
        $( document ).ready(function() {
            var ids = document.getElementsByClassName("branch_code");
                for (var i = 0; i < ids.length; i++) {
                    ids[i].style.display = "none";
                }
            document.getElementById("th_branch_code").style.display= "none";
        });
    </script>

    <script>
        function IsiId() {
        var id = document.getElementById("group_name").value;
        // alert(id);
        document.getElementById("group_id").value = id;
        }

        function IsiIdBranch() {
        var idBranch = document.getElementById("branch_admin").value;
        // alert(idBranch);
        document.getElementById("branch_id").value = idBranch;
        }
    </script>

<script type="text/javascript">
        
    // $(function (){
    //     window.onload = function() {
    //         document.getElementById('SalesmenModal').style.display = 'none';
    //         document.getElementById('SupervisorModal').style.display = 'none';
    //         document.getElementById('BranchAuto').style.display = 'none';

    //     };

    window.onload=function() {
        document.getElementById('SalesmenModal').style.display = 'none';
        document.getElementById('SupervisorModal').style.display = 'none';
        // document.getElementById('BranchAuto').style.display = 'none';
        document.getElementById('sales_kode').style.display = 'none';
        // document.getElementById('BranchCode').style.display = 'none';
        
        $("#group_name").change(function(){
            if ($(this).val() == "ea16bbd9-0590-11e8-9702-ac220be6ac47"){
                // supervisor
                $("#SalesmenModal").hide();
                $("#SupervisorModal").show();
                $("#BranchAdmin").hide();
                $("#BranchAuto").show();
                $("#BranchCode").show();
                $("#buttonSpvModal").show();
                $("#buttonBranchModal").hide();
            } else if ($(this).val() == "ea22e39e-0590-11e8-9702-ac220be6ac47"){
                // salesmen
                $("#SalesmenModal").show();
                $("#SupervisorModal").show();
                $("#buttonSpvModal").hide();
                $("#BranchAdmin").hide();
                $("#BranchAuto").show();
                $("#sales_kode").show();
                $("#BranchCode").show();
                $("#buttonBranchModal").hide();

            } else {
                document.getElementById('SalesmenModal').style.display = 'none';
                document.getElementById('SupervisorModal').style.display = 'none';
                // document.getElementById('BranchAuto').style.display = 'none';
            }
        });
    };
    
</script>

<script>
    function supervisor(e)
    {
      var tds=e.getElementsByTagName('td');
      document.getElementById("supervisor_id").value = tds[0].innerHTML.trim();
      document.getElementById("supervisor_nama").value = tds[1].innerHTML.trim();
      document.getElementById("branch_id").value = tds[2].innerHTML.trim();
      document.getElementById("branch_name").value = tds[3].innerHTML.trim();
      document.getElementById("branch_code").value = tds[4].innerHTML.trim();

      $('#myModal2').modal('hide');

    }

    $( document ).ready(function() {
        var ids = document.getElementsByClassName("supervisor_id");
            for (var i = 0; i < ids.length; i++) {
                ids[i].style.display = "none";
            }
        document.getElementById("th_id_supervisor_spv").style.display= "none";
    });

    $( document ).ready(function() {
        var ids = document.getElementsByClassName("branch_id");
            for (var i = 0; i < ids.length; i++) {
                ids[i].style.display = "none";
            }
        document.getElementById("th_branch_id_spv").style.display= "none";
    });

    $( document ).ready(function() {
        var ids = document.getElementsByClassName("branch_code");
            for (var i = 0; i < ids.length; i++) {
                ids[i].style.display = "none";
            }
        document.getElementById("th_branch_code_spv").style.display= "none";
    });
</script>

<script>
    function branch_modal(e)
    {
      var tds=e.getElementsByTagName('td');
      document.getElementById("branch_id").value = tds[0].innerHTML.trim();
      document.getElementById("branch_name").value = tds[1].innerHTML.trim();
      document.getElementById("branch_code").value = tds[2].innerHTML.trim();

      $('#myModal3').modal('hide');

    }

    $( document ).ready(function() {
        var ids = document.getElementsByClassName("supervisor_id");
            for (var i = 0; i < ids.length; i++) {
                ids[i].style.display = "none";
            }
        document.getElementById("th_id_supervisor_spv").style.display= "none";
    });

    $( document ).ready(function() {
        var ids = document.getElementsByClassName("branch_id");
            for (var i = 0; i < ids.length; i++) {
                ids[i].style.display = "none";
            }
        document.getElementById("th_branch_id_spv").style.display= "none";
    });

    $( document ).ready(function() {
        var ids = document.getElementsByClassName("branch_code");
            for (var i = 0; i < ids.length; i++) {
                ids[i].style.display = "none";
            }
        document.getElementById("th_branch_code_spv").style.display= "none";
    });
</script>
<script>
        function honda_id_modal(e)
        {
          var tds=e.getElementsByTagName('td');
          document.getElementById("username").value = tds[2].innerHTML.trim();
    
          $('#myModal4').modal('hide');
    
        }
    
    </script>
