<% layout('../partials/layout') -%>
    <div class="right_col" role="main">

        <div class="">
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Master User<small>detail</small></h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <% obj.forEach(function (user) { 
                                var birth_date = new Date(user.birth_date);
                                birth_date.setDate(birth_date.getDate() +1);
                                var birth = birth_date.toISOString();
                                %>
                                <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="name"><%= user.name %></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="username">Username : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="username"><%= user.username %></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="email"><%= user.email %></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone_number">Phone Number : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="phone_number"><%= user.phone_number %></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="gender">Gender : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="gender"><%= user.gender %></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="birth_date">Birthdate : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="birth_date"><%= birth.split("T")[0] %></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="branch_name">Branch Name : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="branch_name"><%=user.branch_name %></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="group_name">Group Name : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="group_name"><%= user.group_name %></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="supervisor_name">Supervisor Name : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <% if(user.supervisor_nama == null) { %>
                                                <label class="view-label col-md-7" for="supervisor_name" value="-">-</label>
                                            <% } else { %>
                                            <label class="view-label col-md-7" for="supervisor_name"><%= user.supervisor_nama %></label>
                                            <% } %>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="salesmen_name">Salesman Name : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <% if(user.sls_nama == null) { %>
                                                <label class="view-label col-md-7" for="supervisor_name">-</label>
                                            <% } else { %>
                                            <label class="view-label col-md-7" for="salesmen_name"><%= user.sls_nama %></label>
                                            <% } %>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="status_user">Status User : 
                                          </label>
                                          <div class="col-md-6 col-sm-6 col-xs-12">
                                                <label class="view-label col-md-7" for="first-name">
                                                        <% if(user.status_user == "T"){ %>
                                                            <b>active</b>
                                                       <% } else { %>
                                                        <b>non active</b>
                                                       <% } %>
                                                </label>
                                            </div>
                                    </div>

                                    <div class="ln_solid"></div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                            <a type="submit" class="btn btn-primary" href="/MasterUserNon/Index">Back</a>
                                        </div>
                                    </div>

                                </form>
                                <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer content -->
        <%- partial('../partials/footer') %>
            <!-- /footer content -->

    </div>