<% layout('../partials/layout') -%>
    <script type="text/javascript">
        $().ready(function() {
            if (document.referrer != '<%= link %> + MasterSalesmen/Add') {
                history.pushState(null, null, '/MasterSalesmen/Add');
                window.addEventListener('popstate', function() {
                    history.pushState(null, null, '/MasterSalesmen/Add');
                });
            }
        });
    </script>
    <div class="right_col" role="main">
        <div class="">
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Master Salesmen<small>add</small></h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <form action="/MasterSalesmen/AddSubmit" method="post" enctype="multipart/form-data" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" novalidate>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sls_nama">Nama <span class="required">*</span>
                  </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="sls_nama" class="form-control col-md-7 col-xs-12" name="sls_nama" placeholder="Nama Salesmen" required="required" type="text">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sls_kode">Kode <span class="required">*</span>
                  </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="sls_kode" class="form-control col-md-7 col-xs-12" name="sls_kode" placeholder="Kode Salesmen" required="required" type="text">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sls_alamat">Alamat <span class="required">*</span>
                  </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="sls_alamat" name="sls_alamat" placeholder="Alamat Salesmen" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sls_alamat_ktp">Alamat KTP <span class="required">*</span>
                  </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="sls_alamat_ktp" name="sls_alamat_ktp" placeholder="Alamat KTP" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sls_hp">No Handphone <span class="required">*</span>
                  </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="sls_hp" name="sls_hp" placeholder="No Handphone" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sls_email">Email <span class="required">*</span>
                  </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="sls_email" name="sls_email" placeholder="Email" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>

                                <div class="item form-group">
                                    <label id="label_id_sp" class="control-label col-md-3 col-sm-3 col-xs-12" for="supervisor_id" style="display:none">Id Supervisor <span class="required">*</span>
                  </label>
                                    <div class="col-md-6 col-sm-6 col-xs-11">
                                        <input id="supervisor_id" name="supervisor_id" placeholder="Id Supervisor" required="required" class="form-control col-md-7 col-xs-12" readonly="readonly" type="hidden">
                                    </div>
                                </div>

                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="supervisor_kode">Kode Supervisor<span class="required">*</span>
                  </label>
                                    <div class="col-md-6 col-sm-6 col-xs-11">
                                        <input id="supervisor_kode" name="supervisor_kode" placeholder="Supervisor Kode" required="required" class="form-control col-md-7 col-xs-12" readonly="readonly">
                                    </div>

                                    <div class="col-md-1 col-md-1 col-xs-1">
                                        <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">...</button>
                                        <!-- Modal -->
                                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                            <div class="modal-dialog modal-md" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                        <h4 class="modal-title" id="myModalLabel">Salesmen</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="item form-group">
                                                            <label class="col-md-3 col-sm-3 col-xs-12">Salesmen Name
                                                            </label>
                                                            <div class="col-md-8 col-sm-6 col-xs-11">
                                                                <input id="input_event" onkeyup="functionSearchEvent()" placeholder="Search for category" class="form-controls col-md-6 col-xs-9">
                                                            </div>
                                                        </div>
                                                        <div class="item form-group">
                                                            <label class="col-md-3 col-sm-3 col-xs-12">Supervisor Name
                                                                </label>
                                                            <div class="col-md-8 col-sm-6 col-xs-11">
                                                                <input id="input_desc" onkeyup="functionSearchDesc()" placeholder="Search for description" class="form-controls col-md-6 col-xs-9">
                                                            </div>
                                                        </div>
                                                        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                                            <thead>
                                                                <tr>
                                                                    <th id="th_id_supervisor">Id Supervisor </th>
                                                                    <th>Kode Supervisor</th>
                                                                    <th>Nama Supervisor</th>
                                                                    <th id="th_id_branch">Id Branch </th>
                                                                    <th>Kode Cabang</th>
                                                                    <th>Nama Cabang</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody data-position="0" data-jump="5">
                                                                <% objSupervisor.forEach(function (lov) { %>
                                                                    <tr onclick="callme(this)">
                                                                        <td class="supervisor_id">
                                                                            <%= lov.id %>
                                                                        </td>
                                                                        <td>
                                                                            <%= lov.supervisor_kode %>
                                                                        </td>
                                                                        <td>
                                                                            <%= lov.supervisor_nama %>
                                                                        </td>
                                                                        <td class="branch_id">
                                                                            <%= lov.branch_id %>
                                                                        </td>
                                                                        <td>
                                                                            <%= lov.branch_code %>
                                                                        </td>
                                                                        <td>
                                                                            <%= lov.branch_name %>
                                                                        </td>

                                                                    </tr>
                                                                    <% }) %>
                                                            </tbody>
                                                        </table>
                                                        <div class="row">
                                                            <div class="col-md-9 col-sm-9 col-xs-9"></div>
                                                            <div class="col-md-3 col-sm-3 col-xs-3">
                                                                <button class="less btn-default"> < <span class="count"></span>
                                                                    </button>
                                                                <button class="more btn-default"> > <span class="count"></span>
                                                                    </button>
                                                                <span> page: </span> <span id="page"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="supervisor_name">Nama Supervisor <span class="required">*</span>
                  </label>
                                    <div class="col-md-6 col-sm-6 col-xs-11">
                                        <input id="supervisor_name" name="supervisor_name" placeholder="Supervisor Name" required="required" class="form-control col-md-7 col-xs-12" readonly="readonly">
                                    </div>
                                </div>

                                <div class="item form-group">
                                    <label id="label_id_branch" class="control-label col-md-3 col-sm-3 col-xs-12" for="branch_id" style="display:none">Id Branch <span class="required">*</span>
                  </label>
                                    <div class="col-md-6 col-sm-6 col-xs-11">
                                        <input id="branch_id" name="branch_id" placeholder="Id Branch" required="required" class="form-control col-md-7 col-xs-12" readonly="readonly" type="hidden">
                                    </div>
                                </div>

                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="branch_name">Nama Cabang<span class="required">*</span>
                  </label>
                                    <div class="col-md-6 col-sm-6 col-xs-11">
                                        <input id="branch_name" name="branch_name" placeholder="Nama Cabang" required="required" class="form-control col-md-7 col-xs-12" readonly="readonly">
                                    </div>
                                </div>

                                <div class="item form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-11">
                                        <input id="branch_code" name="branch_code" placeholder="Branch Code" required="required" class="form-control col-md-7 col-xs-12" readonly="readonly" type="hidden">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Status Salesmen</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select class="select2_single form-control" tabindex="-1" name="sls_status">
                                        <option value="T">Active</option>
                                        <option value="F">Non Active</option>
                                      </select>
                                    </div>
                                </div>

                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-md-offset-3">
                                        <a type="submit" class="btn btn-primary" href="/MasterSalesmen/Index">Cancel</a>
                                        <button id="send" type="submit" class="btn btn-success">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer content -->
        <%- partial('../partials/footer') %>
            <!-- /footer content -->
    </div>
    <script>
        var filenames = [];

        function bs_input_file() {
            $(".input-file").before(
                function() {
                    if (!$(this).prevAll('input').first().hasClass('input-ghost')) {
                        var element = $("<input type='file' name='file' class='input-ghost' style='visibility:hidden; height:0'>");
                        element.attr("name", $(this).attr("name"));
                        element.change(function() {
                            if (filenames.indexOf(element.val()) >= 0) {
                                alert("This file has been chosen");
                                element.val(null);
                            } else {

                                console.log(element.val());
                                filenames.push(element.val());

                                element.nextAll(element).find('input').val((element.val()).split('\\').pop());
                            }
                        });
                        $(this).find("button.btn-choose").click(function() {
                            element.click();
                        });
                        $(this).find("button.btn-reset").click(function() {
                            element.val(null);
                            $(this).parents(".input-file").find('input').val('');
                        });
                        $(this).find('input').css("cursor", "pointer");
                        $(this).find('input').mousedown(function() {
                            $(this).parents('.input-file').prevAll('input').first().click();
                            return false;
                        });
                        return element;
                    }
                }
            );
        }
        $(function() {
            bs_input_file();
        });
    </script>

    <script>
        function callme(e) {
            var tds = e.getElementsByTagName('td');
            document.getElementById("supervisor_id").value = tds[0].innerHTML.trim();
            document.getElementById("supervisor_kode").value = tds[1].innerHTML.trim();
            document.getElementById("supervisor_name").value = tds[2].innerHTML.trim();
            document.getElementById("branch_id").value = tds[3].innerHTML.trim();
            document.getElementById("branch_code").value = tds[4].innerHTML.trim();
            document.getElementById("branch_name").value = tds[5].innerHTML.trim();

            $('#myModal').modal('hide');

        }

        $(document).ready(function() {
            var ids = document.getElementsByClassName("supervisor_id");
            for (var i = 0; i < ids.length; i++) {
                ids[i].style.display = "none";
            }
            document.getElementById("th_id_supervisor").style.display = "none";
        });
        $(document).ready(function() {
            var ids = document.getElementsByClassName("branch_id");
            for (var i = 0; i < ids.length; i++) {
                ids[i].style.display = "none";
            }
            document.getElementById("th_id_branch").style.display = "none";
        });
    </script>

    </html>