<% layout('../partials/layout') -%>
    <div class="right_col" role="main">

        <div class="">
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Master Salesmen<small>detail</small></h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <% obj.forEach(function (salesmen) { %>
                                <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Nama Salesmen : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="first-name"><%= salesmen.sls_nama %></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Kode Salesmen : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="first-name"><%= salesmen.sls_kode %></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Tipe Salesmen : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="first-name"><%= salesmen.sls_tipe %></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Tingkat Salesmen : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="first-name"><%= salesmen.sls_grade %></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Alamat : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="first-name"><%= salesmen.sls_alamat %></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Alamat KTP : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="first-name"><%= salesmen.sls_kode %></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">No Handphone : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-6" for="first-name"><%= salesmen.sls_hp %></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Email : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="first-name"><%= salesmen.sls_email%></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Nama Supervisor : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="first-name"><%= salesmen.sls_supervisor_name%></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="branch_name">Nama Cabang : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="first-name"><%= salesmen.branch_name%></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Status Salesmen : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="first-name"><%= salesmen.sls_status%></label>
                                        </div>
                                    </div>


                                    <div class="ln_solid"></div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                            <a type="submit" class="btn btn-primary" href="/MasterSalesmen/Index">Back</a>
                                        </div>
                                    </div>

                                </form>
                                <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer content -->
        <%- partial('../partials/footer') %>
            <!-- /footer content -->

    </div>