<!-- <style>
    .modal{
        height: 80%; /* respsonsive width */
    }
</style> -->

<% layout('../partials/layout') -%>
    <div class="right_col" role="main">
        <div class="">
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Events<small>edit</small></h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                        
                                <form action="/TransaksiNewEvent/EditSubmit?id=<%= obj.id %>" id="demo-form2" data-parsley-validate method="post" class="form-horizontal form-label-left" novalidate>
                                    <!-- <input type="hidden" name="_METHOD" value="PUT" /> -->
                                    <div class="item form-group">
                                        <label id="label_id_type" class="control-label col-md-3 col-sm-3 col-xs-12" for="event_type_id" style="display:none">Event type id <span class="required">*</span>
                      </label>
                                        <div class="col-md-6 col-sm-6 col-xs-11">
                                            <input id="event_type_id" name="event_type_id" placeholder="Id Event Category" required="required" class="form-control col-md-7 col-xs-12" readonly="readonly" type="hidden" value="<%= obj.event_type_id %>">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sls_kode">Sales Code <span class="required">*</span>
                      </label>
                                        <div class="col-md-6 col-sm-6 col-xs-11">
                                            <input id="sls_kode" class="form-control col-md-7 col-xs-12" name="sls_kode" placeholder="Sales Code" required="required" type="text" readonly="readonly" value="<%= obj.sls_kode %>">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="lead_code">Lead Code <span class="required">*</span>
                      </label>
                                        <div class="col-md-6 col-sm-6 col-xs-11">
                                            <input id="lead_code" class="form-control col-md-7 col-xs-12" name="lead_code" placeholder="Lead Code" required="required" type="text" readonly="readonly" value="<%= obj.lead_code %>">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="activity_code">Activity Code <span class="required">*</span>
                      </label>
                                        <div class="col-md-6 col-sm-6 col-xs-11">
                                            <input id="activity_code" class="form-control col-md-7 col-xs-12" name="activity_code" placeholder="Activity Code" required="required" type="text" readonly="readonly" value="<%= obj.activity_code %>">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="event_code">Event Code <span class="required">*</span>
                  </label>
                                        <div class="col-md-6 col-sm-6 col-xs-11">
                                            <input id="event_code" value="<%= objCode %>" class="form-control col-md-7 col-xs-11" name="event_code" placeholder="Event Code" required="required" type="text" readonly="readonly">
                                        </div>
                                    </div>
                                    
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">Title <span class="required">*</span>
                      </label>
                                        <div class="col-md-6 col-sm-6 col-xs-11">
                                            <input id="title" name="title" placeholder="Title" required="required" class="form-control col-md-7 col-xs-12" readonly="readonly" value="<%= obj.title %>">
                                        </div>
                                        <!-- <div class="col-md-1 col-md-1 col-xs-1"> 
                                            <button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal">...</button>    -->
                                                <!-- Modal -->
                                                <!-- <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                                        <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                            <h4 class="modal-title" id="myModalLabel">Event</h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <div class="item form-group">
                                                                    <label class="col-md-3 col-sm-3 col-xs-12">Title
                                                                    </label>
                                                                        <div class="col-md-8 col-sm-6 col-xs-11">
                                                                            <input id="input_event" onkeyup="functionSearchEvent()" placeholder="Search for title" class="form-controls col-md-6 col-xs-9">
                                                                        </div>
                                                                </div>
                                                                <div class="item form-group">
                                                                        <label class="col-md-3 col-sm-3 col-xs-12">Detail
                                                                        </label>
                                                                            <div class="col-md-8 col-sm-6 col-xs-11">
                                                                            <input id="input_desc" onkeyup="functionSearchDesc()" placeholder="Search for details" class="form-controls col-md-6 col-xs-9">
                                                                            </div>
                                                                </div>
                                                                <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                                                    <thead>
                                                                        <tr>
                                                                            <th id="th_id_event">Id Event Category</th>
                                                                            <th id="th_event_code">Event Code</th>
                                                                            <th>Title</th>
                                                                            <th>Details</th>
                                                                            <th id="th_sales_code">Sales Code</th>
                                                                            <th id="th_lead_code">Lead Code</th>
                                                                            <th>Start</th>
                                                                            <th>End</th>
                                                                            <th id="th_all_day">All Day</th>
                                                                            <th id="th_active">Active</th>
                                                                            <th id="th_activity_code">activity_code</th>
                                                                            <th id="th_status">status</th>
                                                                            <th>Event Location</th>
                                                                            <th id="th_longitude">Longitude</th>
                                                                            <th id="th_latitude">Latitude</th>
                                                                            <th id="th_radius">Radius</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody data-position="0" data-jump="5">
                                                                        <% objLOV.forEach(function (lov) { %>
                                                                            <tr onclick="callme(this)">
                                                                                <td class="id_event">
                                                                                    <%= lov.event_type_id %>
                                                                                </td>
                                                                                <td class="event_code">
                                                                                    <%= lov.event_code %>
                                                                                </td>
                                                                                <td>
                                                                                    <%= lov.title %>
                                                                                </td>
                                                                                <td>
                                                                                    <%= lov.details %>
                                                                                </td>
                                                                                <td class="sls_kode">
                                                                                    <%= lov.sls_kode %>
                                                                                </td>
                                                                                <td class="lead_code">
                                                                                    <%= lov.lead_code %>
                                                                                </td>
                                                                                <td>
                                                                                    <%= lov.start %>
                                                                                </td>
                                                                                <td>
                                                                                    <%= lov.end %>
                                                                                </td>
                                                                                <td class="all_day">
                                                                                    <%= lov.all_day %>
                                                                                </td>
                                                                                <td class="active">
                                                                                    <%= lov.active %>
                                                                                </td>
                                                                                <td class="activity_code">
                                                                                    <%= lov.activity_code %>
                                                                                </td>
                                                                                <td class="status">
                                                                                    <%= lov.status %>
                                                                                </td>
                                                                                <td class="event_location">
                                                                                    <%= lov.location_name %>
                                                                                </td>
                                                                                <td class="longitude">
                                                                                    <%= lov.longitude %>
                                                                                </td>
                                                                                <td class="latitude">
                                                                                    <%= lov.latitude %>
                                                                                </td>
                                                                                <td class="radius">
                                                                                    <%= lov.radius %>
                                                                                </td>
                                                                            </tr>
                                                                        <% }) %>
                                                                    </tbody>
                                                                </table>
                                                                <div class="row">
                                                                    <div class="col-md-9 col-sm-9 col-xs-9"></div>
                                                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                                                                <button class="less btn-default"> < <span class="count"></span>
                                                                                </button>
                                                                                <button class="more btn-default"> > <span class="count"></span>
                                                                                </button>
                                                                                <span> page: </span> <span id="page"></span>
                                                                        </div>
                                                                    </div>
                                                            </div>
                                                            <div class="modal-footer">
                                                            </div>
                                                        </div>
                                                        </div>
                                                </div>  
                                        </div> -->
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="details">Details <span class="required">*</span>
                      </label>
                                        <div class="col-md-6 col-sm-6 col-xs-11">
                                            <input id="details" name="details" placeholder="Details" required="required" class="form-control col-md-7 col-xs-12" readonly="readonly" value="<%= obj.details%>">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="status">Status <span class="required">*</span>
                      </label>
                                        <div class="col-md-6 col-sm-6 col-xs-11">
                                            <input id="status" name="status" placeholder="Status" required="required" class="form-control col-md-7 col-xs-12" readonly="readonly" type="text" value="<%= obj.status%>">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="active">Active <span class="required">*</span>
                          </label>
                                            <div class="col-md-6 col-sm-6 col-xs-11">
                                                <input id="active" name="active" placeholder="Active" required="required" class="form-control col-md-7 col-xs-12" readonly="readonly" value="<%= obj.active%>">
                                            </div>
                                        </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="start">Start Date <span class="required">*</span>
                      </label>
                                        <div class="col-md-6 col-sm-6 col-xs-11">
                                            <input id="start" name="start" placeholder="Start Date" type="text" required="required" class="form-control col-md-7 col-xs-12" readonly="readonly" value="<%= obj.start%>">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="end">End Date <span class="required">*</span>
                      </label>
                                        <div class="col-md-6 col-sm-6 col-xs-11">
                                            <input id="end" name="end" placeholder="End Date" type="text" required="required" class="form-control col-md-7 col-xs-12" readonly="readonly" value="<%= obj.end%>">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="all_day">All Day <span class="required">*</span>
                      </label>
                                        <div class="col-md-6 col-sm-6 col-xs-11">
                                            <input id="all_day" name="all_day" placeholder="All Day" type="number" required="required" class="form-control col-md-7 col-xs-12" readonly="readonly" value="<%= obj.all_day%>">
                                        </div>
                                    </div>

                                    <script>
                                            window.onload = function () {
                                                var e = document.getElementById("all_day");
                                                var strUser = e.options[e.selectedIndex].text;
                                            }
                                        
                                        </script>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="location_name">Event Location <span class="required">*</span>
                  </label>
                                        <div id="map"></div>
                                        <!-- Replace the value of the key parameter with your own API key. -->
                                        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCP5NzEK6b3Kdsjj5N-FFPC1hgiKy3OTME&libraries=places&callback=initAutocomplete" async defer>
                                        </script>
                                        <div class="col-md-6 col-sm-6 col-xs-11">
                                            <input id="location_name" value="<%= obj.location_name %>" name="location_name" placeholder="Search Location" required="required" class="form-control col-md-12 col-xs-11">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="latitude">Latitude <span class="required">*</span>
                  </label>
                                        <div class="col-md-6 col-sm-6 col-xs-11">
                                            <input id="latitude" value="<%= obj.latitude %>" name="latitude" "Latitude (-6.1753924)" required="required" class="form-control col-md-7 col-xs-11" readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="Longitude">Longitude <span class="required">*</span>
                  </label>
                                        <div class="col-md-6 col-sm-6 col-xs-11">
                                            <input id="longitude" value="<%= obj.longitude %>" name="longitude" placeholder="Longitude (106.8271528)" required="required" class="form-control col-md-7 col-xs-11" readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="radius">Radius <span class="required">*</span>
                  </label>
                                        <div class="col-md-6 col-sm-6 col-xs-11">
                                            <input id="radius" value="<%= obj.radius %>" name="radius" placeholder="Radius (SATUAN KM)" required="required" class="form-control col-md-7 col-xs-11">
                                        </div>
                                    </div>
                                    <div class="ln_solid"></div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-md-offset-3">
                                            <a type="submit" class="btn btn-primary" href="/TransaksiNewEvent/Index">Cancel</a>
                                            <button id="send" type="submit" class="btn btn-success">Submit</button>
                                        </div>
                                    </div>
                                </form>
                                
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer content -->
        <%- partial('../partials/footer') %>
            <!-- /footer content -->

    </div>

    <script>
            /* Variable Defaults */
               var total    = $('tbody > tr').length;
               var position = $('tbody').data('position');
               var jump     = $('tbody').data('jump');
               var paginate = function(position, jump) {
           /* Show Default Items */
               $('tbody > tr').each(function() {
                   /* Variable Defaults */
                   var index = $(this).index();
       
                   /* Condition */
                   var condition = (index >= position) && (index < position + jump);
       
                   /* Hide/Show Item */
                   $(this).toggle(condition);
       
                   /* Set Disabled Status */
                   $('.less').prop('disabled', (position - jump) < 0);
                   $('.more').prop('disabled', (position + jump) >= total);
               });
               };
       
        //    /* Set Default Text */
        //        $('.count').text(jump);
       
           /* Init Paginate */
               paginate(position, jump);
       
           /* Bind Click Events to "Less" and "More" Button */
               $('.less, .more').on('click', function() {
                   /* Decrease/Increase Position */
                   position = $(this).hasClass('less') ? $('tbody').data('position') - jump : $('tbody').data('position') + jump;
       
                   /* Paginate */
                   paginate(position, jump);
       
                   /* Update Position */
                   $('tbody').data('position', position);
               });
               
               function changePage(page){
                var page_span = document.getElementById("page");
    
                    if (page < 1) page = 1;
                    if (page > numPages()) page = numPages();
    
                    for (var i = 0; i < pageRecord; i++)
                    {
                    page_span.innerHTML = page;
                    }
               }
    
                window.onload = function() {
                    changePage(1);
                };
           </script>

    <script>
        function functionSearchEvent() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("input_event");
            filter = input.value.toUpperCase();
            table = document.getElementById("datatable-responsive");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                  if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }       
              }
            }

            function functionSearchDesc() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("input_desc");
            filter = input.value.toUpperCase();
            table = document.getElementById("datatable-responsive");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[3];
                if (td) {
                  if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }       
              }
            }
    </script>
    
    <script>
        function callme(e)
        {
          var tds=e.getElementsByTagName('td');
          document.getElementById("event_type_id").value = tds[0].innerHTML.trim();
          document.getElementById("event_code").value = tds[1].innerHTML.trim();
          document.getElementById("title").value = tds[2].innerHTML.trim();
          document.getElementById("details").value = tds[3].innerHTML.trim();
          document.getElementById("sls_kode").value = tds[4].innerHTML.trim();
          document.getElementById("lead_code").value = tds[5].innerHTML.trim();
          document.getElementById("start").value = tds[6].innerHTML.trim();
          document.getElementById("end").value = tds[7].innerHTML.trim();
          document.getElementById("all_day").value = tds[8].innerHTML.trim();
          document.getElementById("active").value = tds[9].innerHTML.trim();
          document.getElementById("activity_code").value = tds[10].innerHTML.trim();
          document.getElementById("status").value = tds[11].innerHTML.trim();
          document.getElementById("location_name").value = tds[12].innerHTML.trim();
          document.getElementById("longitude").value = tds[13].innerHTML.trim();
          document.getElementById("latitude").value = tds[14].innerHTML.trim();
          document.getElementById("radius").value = tds[15].innerHTML.trim();
          $('#myModal').modal('hide');
        }    

        window.onload = function () {
            var ids = document.getElementsByClassName("id_event");
                for (var i = 0; i < ids.length; i++) {
                    ids[i].style.display = "none";
                }
            document.getElementById("th_id_event").style.display= "none";
            var statuss = document.getElementsByClassName("status");
                for (var i = 0; i < ids.length; i++) {
                    statuss[i].style.display = "none";
                }
            document.getElementById("th_status").style.display= "none";
            var sls_kodes = document.getElementsByClassName("sls_kode");
                for (var i = 0; i < ids.length; i++) {
                    sls_kodes[i].style.display = "none";
                }
            document.getElementById("th_sales_code").style.display= "none";
            var lead_codes = document.getElementsByClassName("lead_code");
                for (var i = 0; i < ids.length; i++) {
                    lead_codes[i].style.display = "none";
                }
            document.getElementById("th_lead_code").style.display= "none";
            var activity_codes = document.getElementsByClassName("activity_code");
                for (var i = 0; i < ids.length; i++) {
                    activity_codes[i].style.display = "none";
                }
            document.getElementById("th_activity_code").style.display= "none";
            var longitudes = document.getElementsByClassName("longitude");
                for (var i = 0; i < ids.length; i++) {
                    longitudes[i].style.display = "none";
                }
            document.getElementById("th_longitude").style.display= "none";
            var latitudes = document.getElementsByClassName("latitude");
                for (var i = 0; i < ids.length; i++) {
                    latitudes[i].style.display = "none";
                }
            document.getElementById("th_latitude").style.display= "none";
            var radiuss = document.getElementsByClassName("radius");
                for (var i = 0; i < ids.length; i++) {
                    radiuss[i].style.display = "none";
                }
            document.getElementById("th_all_day").style.display= "none";
            var all_days = document.getElementsByClassName("all_day");
                for (var i = 0; i < ids.length; i++) {
                    all_days[i].style.display = "none";
                }
            document.getElementById("th_radius").style.display= "none";
            var event_codes = document.getElementsByClassName("event_code");
                for (var i = 0; i < ids.length; i++) {
                    event_codes[i].style.display = "none";
                }
            document.getElementById("th_event_code").style.display= "none";
            var actives = document.getElementsByClassName("active");
                for (var i = 0; i < ids.length; i++) {
                    actives[i].style.display = "none";
                }
            document.getElementById("th_active").style.display= "none";
        }
    </script>

    <script>
        function initAutocomplete() {
            var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -33.8688, lng: 151.2195},
            zoom: 13,
            mapTypeId: 'roadmap'
            });

            var lat = document.getElementById('latitude');
            var lng = document.getElementById('longitude');
            
            // Create the search box and link it to the UI element.
            var input = document.getElementById('location_name');
            var searchBox = new google.maps.places.SearchBox(input);
            map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

            // Bias the SearchBox results towards current map's viewport.
            map.addListener('bounds_changed', function() {
            searchBox.setBounds(map.getBounds());
            });

            // Listen for the event fired when the user selects a prediction and retrieve
            // more details for that place.
            searchBox.addListener('places_changed', function() {
            var places = searchBox.getPlaces();

            if (places.length == 0) {
                return;
            }

            // For each place, get the icon, name and location.
            var bounds = new google.maps.LatLngBounds();
            places.forEach(function(place) {
                if (!place.geometry) {
                console.log("Returned place contains no geometry");
                return;
                }
                                                        
                var loc = place.geometry.location;
                var templat = loc.lat();
                var templng = loc.lng();
            
                document.getElementById("latitude").value = templat;
                document.getElementById("longitude").value = templng;
            

                if (place.geometry.viewport) {
                // Only geocodes have viewport.
                bounds.union(place.geometry.viewport);
                } else {
                bounds.extend(place.geometry.location);
                }
            });
            map.fitBounds(bounds);

            
            });
        }
    </script>
