<% layout('../partials/layout') -%>
    <div class="right_col" role="main">

        <div class="">
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Events<small>detail</small></h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                                <script type="text/javascript">
                                    $(function() {
                                        var start_date = new Date(obj.start_date);
                                    });
                                </script>
                                <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                                    <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Sales Code : 
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                                <label class="view-label col-md-7" for="first-name"><%= obj.sls_kode %></label>
                                            </div>
                                    </div>
                                    <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Lead Code : 
                                              </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                                <label class="view-label col-md-7" for="first-name"><%= obj.lead_code %></label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Activity Code : 
                                                  </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                                    <label class="view-label col-md-7" for="first-name"><%= obj.activity_code %></label>
                                                </div>
                                            </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Event Code : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="first-name"><%= obj.event_code %></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Title : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="first-name"><%= obj.title %></label>
                                        </div>
                                    </div>
                                    <!-- <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Id Event Category : 
                                              </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12"> -->
                                                <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                                <!-- <label class="view-label col-md-7" for="first-name"><%= obj.id_type %></label>
                                            </div>
                                        </div> -->
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Details : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="first-name"><%= obj.details %></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Status : 
                                              </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                                <label class="view-label col-md-7" for="first-name"><%= obj.status %></label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Active :
                                                  </label>
                                                <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                                    <label class="view-label col-md-7" for="first-name">
                                                            <% if(obj.active == 0){ %>
                                                                <b>Tidak Aktif</b>
                                                           <% } else if(obj.active == 1){ %>
                                                            <b>Aktif</b>
                                                           <% } %>
                                                    </label>
                                                </div>
                                            </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Start Date : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label id ="start_date" class="view-label col-md-7" for="first-name"><%= obj.start%></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">End Date : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label id ="end_date" class="view-label col-md-7" for="first-name"><%= obj.end%></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">All Day : 
                                              </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                                <label class="view-label col-md-7" for="first-name"><%= obj.all_day %></label>
                                            </div>
                                        </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Event Location : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="first-name"><%= obj.location_name %></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Longitude : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="first-name"><%= obj.longitude %></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Latitude : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="first-name"><%= obj.latitude %></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Radius : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="first-name"><%= obj.radius %></label>
                                        </div>
                                    </div>
                                    
                                    <div class="ln_solid"></div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                            <a type="submit" class="btn btn-primary" href="/TransaksiNewEvent/Index">Back</a>
                                        </div>
                                    </div>

                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer content -->
        <%- partial('../partials/footer') %>
            <!-- /footer content -->

    </div>
