<% layout('../partials/layout') -%>
<!-- <style type="text/css">
.modal-dialog  {width:65%;} 
</style> -->

    <div class="right_col" role="main">
        <div class="">
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Galery<small>add</small></h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <form action="/UploadGalery/AddSubmit" method="post" enctype="multipart/form-data" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" novalidate>
                                <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="mtr_grp_segment">Motor Group Segment <span class="required">*</span>
                      </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select class="select2_single form-control" tabindex="-1" name="mtr_grp_segment">
                                        <option value="C">Cub</option>
                                        <option value="M">Matic</option>
                                        <option value="S">Sport</option>
                                        <option value="P">Premium</option>
                                      </select>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="mtr_type_group">Motor Type Group <span class="required">*</span>
                  </label>
                                    <div class="col-md-6 col-sm-6 col-xs-11">
                                        <input id="mtr_type_group" name="mtr_type_group" placeholder="Motor Type Group" required="required" class="form-control col-md-7 col-xs-12" style="text-transform:uppercase" >
                                    </div>
                                </div>
                                
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="spesifikasi">Spesifikasi <span class="required">*</span>
                  </label>
                                    <div class="col-md-6 col-sm-6 col-xs-11">
                                        <textarea id="spesifikasi" name="spesifikasi" placeholder="Spesifikasi" required="required" class="form-control col-md-7 col-xs-12" type="text" rows="5"></textarea>
                                    </div>                                   
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="link">Link <span class="required">*</span>
                  </label>
                                    <div class="col-md-6 col-sm-6 col-xs-11">
                                        <input id="link" name="link" placeholder="Link" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>                                   
                                </div>
                                <div class="item form-group" id="dynamicInput">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Image Header <span class="required">*</span>
                  </label>                   
                                    <div class="col-md-6 col-md-6 col-xs-11"> 
                                        <input type="file" name="image_header" id="file" onsubmit="return Validate()">    
                                    </div>
                                </div>
                                <div class="item form-group" id="dynamicInput">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Image Motor <span class="required">* (1)</span>
                  </label>                   
                                    <div class="col-md-6 col-md-6 col-xs-11"> 
                                        <input type="file" name="image1">    
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">(2)
                  </label>                   
                                    <div class="col-md-6 col-md-6 col-xs-11"> 
                                        <input type="file" name="image2">    
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">(3)
                  </label>                   
                                    <div class="col-md-6 col-md-6 col-xs-11"> 
                                        <input type="file" name="image3">    
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">(4)
                  </label>                   
                                    <div class="col-md-6 col-md-6 col-xs-11"> 
                                        <input type="file" name="image4">    
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">(5)
                  </label>                   
                                    <div class="col-md-6 col-md-6 col-xs-11"> 
                                        <input type="file" name="image5">    
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">(6)
                  </label>                   
                                    <div class="col-md-6 col-md-6 col-xs-11"> 
                                        <input type="file" name="image6">    
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">(7)
                  </label>                   
                                    <div class="col-md-6 col-md-6 col-xs-11"> 
                                        <input type="file" name="image7">    
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">(8)
                  </label>                   
                                    <div class="col-md-6 col-md-6 col-xs-11"> 
                                        <input type="file" name="image8">    
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">(9)
                  </label>                   
                                    <div class="col-md-6 col-md-6 col-xs-11"> 
                                        <input type="file" name="image9">    
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">(10)
                  </label>                   
                                    <div class="col-md-6 col-md-6 col-xs-11"> 
                                        <input type="file" name="image10">    
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-3 col-md-offset-3">
                                        <a type="submit" class="btn btn-primary" href="/UploadGalery/Index">Cancel</a>
                                        <button id="send" type="submit" class="btn btn-success" onsubmit="return Validate()">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer content -->
        <%- partial('../partials/footer') %>
            <!-- /footer content -->
    </div>

    <script>
        /* Variable Defaults */
           var total    = $('tbody > tr').length;
           var position = $('tbody').data('position');
           var jump     = $('tbody').data('jump');
           var paginate = function(position, jump) {
       /* Show Default Items */
           $('tbody > tr').each(function() {
               /* Variable Defaults */
               var index = $(this).index();
   
               /* Condition */
               var condition = (index >= position) && (index < position + jump);
   
               /* Hide/Show Item */
               $(this).toggle(condition);
   
               /* Set Disabled Status */
               $('.less').prop('disabled', (position - jump) < 0);
               $('.more').prop('disabled', (position + jump) >= total);
           });
           };
   
    //    /* Set Default Text */
    //        $('.count').text(jump);
   
       /* Init Paginate */
           paginate(position, jump);
   
       /* Bind Click Events to "Less" and "More" Button */
           $('.less, .more').on('click', function() {
               /* Decrease/Increase Position */
               position = $(this).hasClass('less') ? $('tbody').data('position') - jump : $('tbody').data('position') + jump;
   
               /* Paginate */
               paginate(position, jump);
   
               /* Update Position */
               $('tbody').data('position', position);
           });
           
           function changePage(page){
            var page_span = document.getElementById("page");

                if (page < 1) page = 1;
                if (page > numPages()) page = numPages();

                for (var i = 0; i < pageRecord; i++)
                {
                page_span.innerHTML = page;
                }
           }

            window.onload = function() {
                changePage(1);
            };
       </script>
   
    <script>
        function functionSearchMotor() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("input_motor");
            filter = input.value.toUpperCase();
            table = document.getElementById("datatable-responsive");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                  if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }       
            }
        }

        function functionSearchDesc() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("input_desc");
        filter = input.value.toUpperCase();
        table = document.getElementById("datatable-responsive");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[1];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }       
        }
        }
    </script>

    <script>
        function callme(e)
        {
          var tds=e.getElementsByTagName('td');
          document.getElementById("motor_type").value = tds[0].innerHTML.trim();
          document.getElementById("mtr_type_group").value = tds[1].innerHTML.trim();
          document.getElementById("mtr_grp_segment").value = tds[2].innerHTML.trim();

          $('#myModal').modal('hide');

        }

        $( document ).ready(function() {
            var ids = document.getElementsByClassName("type_grp");
                for (var i = 0; i < ids.length; i++) {
                    ids[i].style.display = "none";
                }

            var ids = document.getElementsByClassName("grp_segment");
                for (var i = 0; i < ids.length; i++) {
                    ids[i].style.display = "none";
                }
            document.getElementById("th_type_grp").style.display= "none";
            document.getElementById("th_grp_segment").style.display= "none";
        });
    </script>

<script type="text/javascript">
    function Validate()
    {
         var image =document.getElementById("file").value;
         if(image!='')
         {
               var checkimg = image.toLowerCase();
              if (!checkimg.match(/(\.jpg|\.png|\.JPG|\.PNG|\.jpeg|\.JPEG|\.mp4|\.MP4|\.flv|\.FLV|\.mkv|\.MKV)$/)){ // validation of file extension using regular expression before file upload
                  document.getElementById("file").focus();
                  document.getElementById("errorName5").innerHTML="Wrong file selected"; 
                  return false;
               }
                var img = document.getElementById("file"); 
                alert(img.files[0].size);
                if(img.files[0].size <  1048576)  // validation according to file size
                {
                document.getElementById("errorName5").innerHTML="Image size too short";
                return false;
                 }
                 return true;
          }
    }
    </script>
