<!-- <style>
    .modal{
        height: 80%; /* respsonsive width */
    }
</style> -->

<% layout('../partials/layout') -%>
    <div class="right_col" role="main">
        <div class="">
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Events<small>edit</small></h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                                <% obj.forEach(function (galery) { %>
                                <form action="/UploadGalery/EditSubmit?id=<%= galery.id %>" id="demo-form2" data-parsley-validate method="post" enctype="multipart/form-data" class="form-horizontal form-label-left" novalidate>
                                     <div class="item form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="mtr_grp_segment">Motor Group Segment <span class="required">*</span>
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-11">
                                                <select class="select2_single form-control" tabindex="-1" name="mtr_grp_segment">
                                                
                                                <option value="C" <%= galery.mtr_grp_segment=='C' ? 'selected' : '' %>>Cub</option>
                                                <option value="M" <%= galery.mtr_grp_segment=='M' ? 'selected' : '' %>>Matic</option>
                                                <option value="S" <%= galery.mtr_grp_segment=='S' ? 'selected' : '' %>>Sport</option>
                                                <option value="P" <%= galery.mtr_grp_segment=='P' ? 'selected' : '' %>>Premium</option>
                                              </select>
                                            </div>
                                        </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="mtr_type_group">Motor Type Group <span class="required">*</span>
                  </label>
                                        <div class="col-md-6 col-sm-6 col-xs-11">
                                            <input id="mtr_type_group" value="<%= galery.mtr_type_group %>" name="mtr_type_group" placeholder="Motor Type Group" required="required" style="text-transform:uppercase" class="form-control col-md-7 col-xs-11">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label id="label_id_type" class="control-label col-md-3 col-sm-3 col-xs-12" for="spesifikasi">Spesification <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-11">
                    <input id="link" value="<%= galery.spesifikasi %>" name="spesifikasi" placeholder="Spesification" required="required" class="form-control col-md-7 col-xs-11">
                </div>
                                    </div>
                                    <div class="form-group">
                                            <label id="label_id_type" class="control-label col-md-3 col-sm-3 col-xs-12" for="link">Link <span class="required">*</span>
                      </label>
                                            <div class="col-md-6 col-sm-6 col-xs-11">
                                                <input id="link" value="<%= galery.link %>" name="link" placeholder="Link" required="required" class="form-control col-md-7 col-xs-11">
                                            </div>
                                        </div>

                                    <div class="form-group">
                                        <label id="label_id_type" class="control-label col-md-3 col-sm-3 col-xs-12" for="image_header">Image Header <span class="required">*</span>
                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-11">
                                            <input id="image_header" value="<% if(galery.image_header == null){ %>
                                                -
                                           <% } else { %><%= galery.image_header.substring(44) %>
                                           <% } %>" name="image_header" placeholder="image_header" class="form-control col-md-7 col-xs-11" readonly="readonly">
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-1">
                                            <input type="file" name="image_header">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label id="label_id_type" class="control-label col-md-3 col-sm-3 col-xs-12" for="image1">Image 1 <span class="required">*</span>
                  </label>
                                        <div class="col-md-6 col-sm-6 col-xs-11">
                                            <input id="image1" value="<% if(galery.image2 == null){ %>
                                                -
                                           <% } else { %><%= galery.image1.substring(44) %>
                                           <% } %>" name="image1" placeholder="Image1" class="form-control col-md-7 col-xs-11" readonly="readonly">
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-1">
                                            <input type="file" name="image1">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label id="label_id_type" class="control-label col-md-3 col-sm-3 col-xs-12" for="image2">Image 2 <span class="required">*</span>
                  </label>
                                        <div class="col-md-6 col-sm-6 col-xs-11">
                                            <input id="image2" value="<% if(galery.image2 == null){ %>
                                                -
                                           <% } else { %><%= galery.image2.substring(44) %>
                                           <% } %>" name="image2" placeholder="Image2" required="required" class="form-control col-md-7 col-xs-11" readonly="readonly">
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-1">
                                            <input type="file" name="image2">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label id="label_id_type" class="control-label col-md-3 col-sm-3 col-xs-12" for="image3">Image 3 <span class="required">*</span>
                  </label>
                                        <div class="col-md-6 col-sm-6 col-xs-11">
                                            <input id="image3" value="<% if(galery.image3 == null){ %>
                                                -
                                           <% } else { %><%= galery.image3.substring(44) %>
                                           <% } %>" name="image1" placeholder="Image3" required="required" class="form-control col-md-7 col-xs-11" readonly="readonly">
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-1">
                                            <input type="file" name="image3">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label id="label_id_type" class="control-label col-md-3 col-sm-3 col-xs-12" for="image4">Image 4 <span class="required">*</span>
                  </label>
                                        <div class="col-md-6 col-sm-6 col-xs-11">
                                            <input id="image4" value="<% if(galery.image4 == null){ %>
                                                -
                                           <% } else { %><%= galery.image4.substring(44) %>
                                           <% } %>" name="image4" placeholder="Image4" required="required" class="form-control col-md-7 col-xs-11" readonly="readonly">
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-1">
                                            <input type="file" name="image4">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label id="label_id_type" class="control-label col-md-3 col-sm-3 col-xs-12" for="image5">Image 5 <span class="required">*</span>
                  </label>
                                        <div class="col-md-6 col-sm-6 col-xs-11">
                                            <input id="image5" value="<% if(galery.image5 == null){ %>
                                                -
                                           <% } else { %><%= galery.image5.substring(44) %>
                                           <% } %>" name="image5" placeholder="Image5" required="required" class="form-control col-md-7 col-xs-11" readonly="readonly">
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-1">
                                            <input type="file" name="image5">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label id="label_id_type" class="control-label col-md-3 col-sm-3 col-xs-12" for="image6">Image 6 <span class="required">*</span>
                      </label>
                                        <div class="col-md-6 col-sm-6 col-xs-11">
                                            <input id="image6" value="<% if(galery.image5 == null){ %>
                                                -
                                            <% } else { %><%= galery.image5.substring(44) %>
                                            <% } %>" name="image6" placeholder="Image6" required="required" class="form-control col-md-7 col-xs-11" readonly="readonly">
                                        </div>
                                         <div class="col-md-3 col-sm-3 col-xs-1">
                                            <input type="file" name="image6">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label id="label_id_type" class="control-label col-md-3 col-sm-3 col-xs-12" for="image7">Image 7 <span class="required">*</span>
                      </label>
                                        <div class="col-md-6 col-sm-6 col-xs-11">
                                            <input id="image7" value="<% if(galery.image7 == null){ %>
                                                -
                                            <% } else { %><%= galery.image7.substring(44) %>
                                            <% } %>" name="image7" placeholder="Image7" required="required" class="form-control col-md-7 col-xs-11" readonly="readonly">
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-1">
                                            <input type="file" name="image7">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label id="label_id_type" class="control-label col-md-3 col-sm-3 col-xs-12" for="image8">Image 8 <span class="required">*</span>
                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-11">
                                            <input id="image8" value="<% if(galery.image8 == null){ %>
                                                -
                                            <% } else { %><%= galery.image8.substring(44) %>
                                            <% } %>" name="image8" placeholder="Image8" required="required" class="form-control col-md-7 col-xs-11" readonly="readonly">
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-xs-1">
                                                <input type="file" name="image8">
                                            </div>
                                    </div>
                                    <div class="form-group">
                                        <label id="label_id_type" class="control-label col-md-3 col-sm-3 col-xs-12" for="image9">Image 9 <span class="required">*</span>
                              </label>
                                        <div class="col-md-6 col-sm-6 col-xs-11">
                                            <input id="image9" value="<% if(galery.image9 == null){ %>
                                                -
                                            <% } else { %><%= galery.image9.substring(44) %>
                                            <% } %>" name="image9" placeholder="Image9" required="required" class="form-control col-md-7 col-xs-11" readonly="readonly">
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-1">
                                            <input type="file" name="image9">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label id="label_id_type" class="control-label col-md-3 col-sm-3 col-xs-12" for="image10">Image 10 <span class="required">*</span>
                      </label>
                                        <div class="col-md-6 col-sm-6 col-xs-11">
                                            <input id="image10" value="<% if(galery.image10 == null){ %>
                                                -
                                            <% } else { %><%= galery.image10.substring(44) %>
                                            <% } %>" name="image10" placeholder="Image10" required="required" class="form-control col-md-7 col-xs-11" readonly="readonly">
                                        </div>
                                        <div class="col-md-3 col-sm-3 col-xs-1">
                                            <input type="file" name="image10">
                                        </div>
                                    </div>
                                    <div class="ln_solid"></div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-md-offset-3">
                                            <a type="submit" class="btn btn-primary" href="/TransaksiNewEvent/Index">Cancel</a>
                                            <button id="send" type="submit" class="btn btn-success">Submit</button>
                                        </div>
                                    </div>
                                </form>
                                <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer content -->
        <%- partial('../partials/footer') %>
            <!-- /footer content -->

    </div>

    <script>
            /* Variable Defaults */
               var total    = $('tbody > tr').length;
               var position = $('tbody').data('position');
               var jump     = $('tbody').data('jump');
               var paginate = function(position, jump) {
           /* Show Default Items */
               $('tbody > tr').each(function() {
                   /* Variable Defaults */
                   var index = $(this).index();
       
                   /* Condition */
                   var condition = (index >= position) && (index < position + jump);
       
                   /* Hide/Show Item */
                   $(this).toggle(condition);
       
                   /* Set Disabled Status */
                   $('.less').prop('disabled', (position - jump) < 0);
                   $('.more').prop('disabled', (position + jump) >= total);
               });
               };
       
        //    /* Set Default Text */
        //        $('.count').text(jump);
       
           /* Init Paginate */
               paginate(position, jump);
       
           /* Bind Click Events to "Less" and "More" Button */
               $('.less, .more').on('click', function() {
                   /* Decrease/Increase Position */
                   position = $(this).hasClass('less') ? $('tbody').data('position') - jump : $('tbody').data('position') + jump;
       
                   /* Paginate */
                   paginate(position, jump);
       
                   /* Update Position */
                   $('tbody').data('position', position);
               });
               
               function changePage(page){
                var page_span = document.getElementById("page");
    
                    if (page < 1) page = 1;
                    if (page > numPages()) page = numPages();
    
                    for (var i = 0; i < pageRecord; i++)
                    {
                    page_span.innerHTML = page;
                    }
               }
    
                window.onload = function() {
                    changePage(1);
                };
           </script>

    <script>
        function functionSearchMotor() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("input_motor");
            filter = input.value.toUpperCase();
            table = document.getElementById("datatable-responsive");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[0];
                if (td) {
                  if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }       
              }
            }

            function functionSearchDesc() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("input_desc");
            filter = input.value.toUpperCase();
            table = document.getElementById("datatable-responsive");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                  if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                  } else {
                    tr[i].style.display = "none";
                  }
                }       
              }
            }
    </script>
    
    <script>
        function callme(e)
        {
          var tds=e.getElementsByTagName('td');
          document.getElementById("motor_type").value = tds[0].innerHTML.trim();
          document.getElementById("mtr_grp_segment").value = tds[1].innerHTML.trim();
          document.getElementById("mtr_type_group").value = tds[2].innerHTML.trim();
        
          $('#myModal').modal('hide');
        }  
        
        function clickimage(e)
        {
          document.getElementById("image1").value = getElementById("file_image");
        
        } 

        $( document ).ready(function() {
            var ids = document.getElementsByClassName("type_grp");
                for (var i = 0; i < ids.length; i++) {
                    ids[i].style.display = "none";
                }

            var ids = document.getElementsByClassName("grp_segment");
                for (var i = 0; i < ids.length; i++) {
                    ids[i].style.display = "none";
                }
            document.getElementById("th_type_grp").style.display= "none";
            document.getElementById("th_grp_segment").style.display= "none";
        });

    </script>
