<% layout('../partials/layout') -%>
    <div class="right_col" role="main">

        <div class="">
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Master Galery<small>detail</small></h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <% obj.forEach(function (galery) { %>
                                <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Motor Group Segment : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="first-name"><%= galery.mtr_grp_segment %></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Motor Type Group : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="first-name"><%= galery.mtr_type_group %></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Spesification : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="first-name"><%= galery.spesifikasi %></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Link : 
                                              </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                                <label class="view-label col-md-7" for="first-name"><%= galery.link %></label>
                                            </div>
                                        </div>
                                    <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Image Header : 
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                    <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                                <label class="view-label col-md-7" for="first-name">
                                                        <% if(galery.image_header == null){ %>
                                                            <b>-</b>
                                                       <% } else { %>
                                                        <%= galery.image_header.substring(44) %>
                                                       <% } %>
                                                </label>
                                            </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Image 1 : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="first-name">
                                                    <% if(galery.image1 == null){ %>
                                                        <b>-</b>
                                                   <% } else { %>
                                                    <%= galery.image1.substring(44) %>
                                                   <% } %>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Image 2 : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="first-name">
                                                    <% if(galery.image2 == null){ %>
                                                        <b>-</b>
                                                   <% } else { %>
                                                    <%= galery.image2.substring(44) %>
                                                   <% } %>
                                        </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Image 3 : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="first-name">
                                                    <% if(galery.image3 == null){ %>
                                                        <b>-</b>
                                                   <% } else { %>
                                                    <%= galery.image3.substring(44) %>
                                                   <% } %>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Image 4 : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="first-name">
                                                    <% if(galery.image4 == null){ %>
                                                        <b>-</b>
                                                   <% } else { %>
                                                    <%= galery.image4.substring(44) %>
                                                   <% } %>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Image 5 : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="first-name">
                                                    <% if(galery.image5 == null){ %>
                                                        <b>-</b>
                                                   <% } else { %>
                                                    <%= galery.image5.substring(44) %>
                                                   <% } %>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Image 6 : 
                                        </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                                <label class="view-label col-md-7" for="first-name">
                                                        <% if(galery.image6 == null){ %>
                                                            <b>-</b>
                                                       <% } else { %>
                                                        <%= galery.image6.substring(44) %>
                                                       <% } %>
                                                </label>
                                            </div>
                                    </div>
                                    <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Image 7 : 
                                              </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                                <label class="view-label col-md-7" for="first-name">
                                                        <% if(galery.image7 == null){ %>
                                                            <b>-</b>
                                                       <% } else { %>
                                                        <%= galery.image7.substring(44) %>
                                                       <% } %>
                                                </label>
                                            </div>
                                    </div>
                                    <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Image 8 : 
                                              </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                                <label class="view-label col-md-7" for="first-name">
                                                        <% if(galery.image8 == null){ %>
                                                            <b>-</b>
                                                       <% } else { %>
                                                        <%= galery.image8.substring(44) %>
                                                       <% } %>
                                                </label>
                                            </div>
                                    </div>
                                    <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Image 9 : 
                                              </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                                <label class="view-label col-md-7" for="first-name">
                                                        <% if(galery.image9 == null){ %>
                                                            <b>-</b>
                                                       <% } else { %>
                                                        <%= galery.image9.substring(44) %>
                                                       <% } %>
                                                </label>
                                            </div>
                                    </div>
                                    <div class="form-group">
                                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Image 10 : 
                                              </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                                <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                                <label class="view-label col-md-7" for="first-name">
                                                        <% if(galery.image10 == null){ %>
                                                            <b>-</b>
                                                       <% } else { %>
                                                        <%= galery.image10.substring(44) %>
                                                       <% } %>
                                                </label>
                                            </div>
                                    </div>
                                    <div class="ln_solid"></div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                            <a type="submit" class="btn btn-primary" href="/UploadGalery/Index">Back</a>
                                        </div>
                                    </div>

                                </form>
                                <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer content -->
        <%- partial('../partials/footer') %>
            <!-- /footer content -->

    </div>

