<% layout('../partials/layout') -%>
    <script type="text/javascript">
        $().ready(function() {
            if (document.referrer != '<%= link %> + MasterTargetAdmin/Index') {
                history.pushState(null, null, '/MasterTargetAdmin/Index');
                window.addEventListener('popstate', function() {
                    history.pushState(null, null, '/MasterTargetAdmin/Index');
                });
            }
        });
    </script>
    <div class="right_col" role="main">
        <div id="alertSuccess" class="alert alert-success alert-dismissible fade in" role="alert" style="display: none;">
            <a href="/MasterTargetAdmin/Index" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
        </a>
            <%- JSON.stringify(message) %>
        </div>
        <div class="">
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Master Target
                                <small>index</small>
                            </h2>
                            <div class="clearfix"></div>
                        </div>
                        <a type="button" class="btn btn-dark" href="/MasterTargetAdmin/Add">Add Data</a>
                        <div class="x_content">
                            <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Code</th>
                                        <th>Salesman</th>
                                        <th>Target Prospect</th>
                                        <th>Target Deal</th>
                                        <th>Target Sales</th>
                                        <th>Periode</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% obj.forEach(function (training) { %>
                                        <tr>
                                            <td>
                                                <%= training.target_code %>
                                            </td>
                                            <td>
                                                <%= training.salesman_nama %>
                                            </td>
                                            <td>
                                                <%= training.target_prospect %>
                                            </td>
                                            <td>
                                                <%= training.target_deal %>
                                            </td>
                                            <td>
                                                <%= training.target_sales %>
                                            </td>
                                            <td>
                                                <%= training.periode %>
                                            </td>
                                            <td>
                                                <a class="btn btn-primary btn-xs" href="/MasterTargetAdmin/Index?id=<%= training.id %>">
                                                    <i class="fa fa-folder"></i>View</a>
                                                <a class="btn btn-info btn-xs" href="/MasterTargetAdmin/Edit?id=<%= training.id %>">
                                                    <i class="fa fa-pencil"></i> Edit</a>
                                                <a class="btn btn-danger btn-xs" href="/MasterTargetAdmin/Delete?id=<%= training.id %>" onclick="return confirm('Are you sure you want to delete this item?');">
                                                    <i class="fa fa-trash-o"></i> Delete</a>
                                            </td>
                                        </tr>
                                        <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer content -->
        <%- partial('../partials/footer') %>
            <!-- /footer content -->
    </div>
    <script>
        var handleDataTableButtons = function() {
                "use strict";
                0 !== $("#datatable-buttons").length && $("#datatable-buttons").DataTable({
                    dom: "Bfrtip",
                    buttons: [{
                        extend: "copy",
                        className: "btn-sm"
                    }, {
                        extend: "csv",
                        className: "btn-sm"
                    }, {
                        extend: "excel",
                        className: "btn-sm"
                    }, {
                        extend: "pdf",
                        className: "btn-sm"
                    }, {
                        extend: "print",
                        className: "btn-sm"
                    }],
                    responsive: !0
                })
            },
            TableManageButtons = function() {
                "use strict";
                return {
                    init: function() {
                        handleDataTableButtons()
                    }
                }
            }();
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            let myVar = <%- JSON.stringify(message) %>;
            if (myVar != null) {
                document.getElementById('alertSuccess').style.display = 'block';
            }
            $('#datatable').dataTable();
            $('#datatable-keytable').DataTable({
                keys: true
            });
            $('#datatable-responsive').DataTable({
                "aaSorting": []
            });
            $('#datatable-scroller').DataTable({
                ajax: "js/datatables/json/scroller-demo.json",
                deferRender: true,
                scrollY: 380,
                scrollCollapse: true,
                scroller: true
            });
            var table = $('#datatable-fixed-header').DataTable({
                fixedHeader: true
            });
        });
        TableManageButtons.init();
    </script>
    <script src="../js/datatables/jquery.dataTables.min.js"></script>
    <script src="../js/datatables/dataTables.bootstrap.js"></script>
    <script src="../js/datatables/dataTables.buttons.min.js"></script>
    <script src="../js/datatables/buttons.bootstrap.min.js"></script>
    <script src="../js/datatables/jszip.min.js"></script>
    <script src="../js/datatables/pdfmake.min.js"></script>
    <script src="../js/datatables/vfs_fonts.js"></script>
    <script src="../js/datatables/buttons.html5.min.js"></script>
    <script src="../js/datatables/buttons.print.min.js"></script>
    <script src="../js/datatables/dataTables.fixedHeader.min.js"></script>
    <script src="../js/datatables/dataTables.keyTable.min.js"></script>
    <script src="../js/datatables/dataTables.responsive.min.js"></script>
    <script src="../js/datatables/responsive.bootstrap.min.js"></script>
    <script src="../js/datatables/dataTables.scroller.min.js"></script>