<% layout('../partials/layout') -%>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker.css" rel="stylesheet" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/js/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        $(function() {
            $('#month_year').datepicker({
                format: 'yyyy-mm',
                viewMode: "months",
                minViewMode: "months",
                autoClose: true
            });
        });
    </script>
    <script type="text/javascript">
        function myFunction() {

            var rasio = $('#rasio').val();
            var sales = $('#targetSales').val();

            if (rasio > 0 && rasio <= 100) {
                var data_deal = sales * 100 / rasio;
                var data_prospect = data_deal * 100 / rasio;
                var dataDeal = Math.ceil(data_deal);
                var dataProspect = Math.ceil(data_prospect);
                // alert(data_deal);
                $('#targetDeal').val(dataDeal);
                $('#targetProspect').val(dataProspect);
                $('#warning').empty();
            } else {
                $('#warning').text("Rasio antara 1 - 100 %");
                $("#warning").css("color", "red");
            }

        }

        // $(document).ready(function() {
        //     $('#rasio').keyup(function() {
        //         var rasio = $(this).val();
        //         var sales = $('#targetSales').val();
        //         var data_deal = sales * 100 / rasio;
        //         var data_prospect = data_deal * 100 / rasio;
        //         var dataDeal = Math.ceil(data_deal);
        //         var dataProspect = Math.ceil(data_prospect);
        //         // alert(data_deal);
        //         $('#targetDeal').val(dataDeal);
        //         $('#targetProspect').val(dataProspect);
        //     });
        // });
    </script>
    <div class="right_col" role="main">
        <div id="alertSuccess" class="alert alert-success alert-dismissible fade in" role="alert" style="display: none;">
            <a href="/MasterTarget/Edit" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                        </a>
            <%- JSON.stringify(message) %>
        </div>
        <div class="">
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Master Target<small>edit</small></h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <% obj.forEach(function (target) { %>
                                <form action="/MasterTarget/EditSubmit?id=<%= target.id %>" id="form2" data-parsley-validate method="post" enctype="multipart/form-data" class="form-horizontal form-label-left" novalidate>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="code">Target Code <span class="required">*</span>
                  </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="code" value="<%= target.target_code %>" class="form-control col-md-7 col-xs-12" name="code" placeholder="Training Code" required="required" type="text" readonly>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Salesman</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select id="salesmanid" class="select2_single form-control" name="salesman">
                                                <% sales.forEach(function (sls) { %>
                                                <option value="<%=sls.id%>" <%= target.salesman_id==sls.id ? 'selected' : '' %> ><%= sls.sls_nama %></option>
                                                <% }) %>
                                            </select>
                                            <!-- <input type="hidden" id="salesman" value="<%= target.salesman_id %>" class="form-control col-md-7 col-xs-12" name="salesman"> -->
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Periode <span class="required">*</span>
                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="month_year" value="<%= target.periode %>" name="periode" placeholder="yyyy-mm" required="required" class="form-control col-md-7 col-xs-12">
                                            <input id="month_hide" type="hidden" value="<%= target.periode %>" name="per_hide" placeholder="yyyy-mm" required="required" class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">Target Sales <span class="required">*</span>
                      </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="targetSales" name="sales" placeholder="Target Sales" required="required" class="form-control col-md-7 col-xs-12" type="number" onkeyup="myFunction()" value="<%= target.target_sales %>">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">Rasio (%) <span class="required">*</span>
                      </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="rasio" name="rasio" placeholder="Rasio" required="required" class="form-control col-md-7 col-xs-12" min="1" max="100" type="number" onkeyup="myFunction()" value="<%= target.target_rasio %>">
                                        </div>
                                        <label id="warning" class="control-label" for="title"></label>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Target Deal <span class="required">*</span>
                  </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="targetDeal" value="<%= target.target_deal %>" name="deal" placeholder="Target Deal" required="required" class="form-control col-md-7 col-xs-12" type="number" readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">Target Prospect <span class="required">*</span>
                  </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="targetProspect" value="<%= target.target_prospect %>" name="prospect" placeholder="Target Prospect" required="required" class="form-control col-md-7 col-xs-12" type="number" readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="ln_solid"></div>
                                    <div class="form-group">
                                        <div class="col-md-6 col-md-offset-3">
                                            <a type="submit" class="btn btn-primary" href="/MasterTarget/Index">Cancel</a>
                                            <button id="send" type="submit" class="btn btn-success">Submit</button>
                                        </div>
                                    </div>
                                </form>
                                <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer content -->
        <%- partial('../partials/footer') %>
            <!-- /footer content -->
    </div>
    <script type="text/javascript">
        $(document).ready(function() {
            let myVar = <%- JSON.stringify(message) %>;
            if (myVar != null) {
                document.getElementById('alertSuccess').style.display = 'block';
            }
        });
    </script>