<% layout('../partials/layout') -%>
    <script type="text/javascript">
        $().ready(function() {
            if (document.referrer != '<%= link %> + MasterTraining/Add') {
                history.pushState(null, null, '/MasterTraining/Add');
                window.addEventListener('popstate', function() {
                    history.pushState(null, null, '/MasterTraining/Add');
                });
            }
        });
    </script>
    <div class="right_col" role="main">
        <div class="">
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Master Training<small>add</small></h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <form action="/MasterTraining/AddSubmit" method="post" enctype="multipart/form-data" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" novalidate>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="code">Code <span class="required">*</span>
                  </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="code" class="form-control col-md-7 col-xs-12" name="code" placeholder="Training Code" required="required" type="text">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">Title <span class="required">*</span>
                  </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="title" name="title" placeholder="Training Title" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Description <span class="required">*</span>
                  </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="description" name="description" placeholder="Training Description" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Category <span class="required">*</span></label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select class="select2_single form-control" tabindex="-1" name="category_id">
                                                <% obj.forEach(function (training) { %>
                                                <option value="<%= training.id %>"><%= training.category %></option>
                                                <% }) %>
                                              </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Type</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select class="select2_single form-control" tabindex="-1" name="type">
                                        <option value="salesman">Salesman</option>
                                        <option value="salesforce">Salesforce</option>
                                        <option value="flp">FLP</option>
                                        <option value="deliveryman">Delivery Man</option>
                                        <option value="leader">Leader</option>
                                      </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Level</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select class="select2_single form-control" tabindex="-1" name="level">
                                            <option value="basic">Basic</option>
                                            <option value="intermediate">Intermediate</option>
                                            <option value="advance">Advance</option>
                                          </select>
                                    </div>
                                </div>
                                <label class="control-label col-md-1 col-sm-1 col-xs-12">Attachment</label>
                                <div class="form-group">
                                    <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                        <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Judul File</th>
                                                <th>Kategori file</th>
                                                <th>Cover</th>
                                                <th>File</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr id="addr0">
                                                <td>
                                                    1 </td>
                                                <td>
                                                    <input id="title" name="detail[0][title]" placeholder="Judul File" required="required" class="form-control col-md-3 col-sm-3 col-xs-12">
                                                </td>
                                                <td>
                                                    <select class="select form-control" tabindex="-1" name="detail[0][kategori_detail]">
                                                                                    <option value="dokumen">DOKUMEN</option>
                                                                                    <option value="e-learning">E-LEARNING</option>
                                                                                  </select>

                                                </td>
                                                <td>
                                                    <input type="file" id="file_detail" name="detail[0][cover]" placeholder="Training Title" required="required" class="btn btn-dark col-md-7">

                                                </td>

                                                <td>
                                                    <input type="file" id="file_detail" name="detail[0][document]" placeholder="Training Title" required="required" class="btn btn-dark col-md-7">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <a id="add_row" class="btn btn-dark pull-left">Add Row</a>
                                    <a id='delete_row' class="pull-left btn btn-dark">Delete Row</a>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-md-offset-3">
                                        <a type="submit" class="btn btn-primary" href="/MasterTraining/Index">Cancel</a>
                                        <button id="send" type="submit" class="btn btn-success">Submit</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer content -->
        <%- partial('../partials/footer') %>
            <!-- /footer content -->
    </div>
    <script>
        var filenames = [];

        function bs_input_file() {
            $(".input-file").before(
                function() {
                    if (!$(this).prevAll('input').first().hasClass('input-ghost')) {
                        var element = $("<input type='file' name='file' class='input-ghost' style='visibility:hidden; height:0'>");
                        element.attr("name", $(this).attr("name"));
                        element.change(function() {
                            if (filenames.indexOf(element.val()) >= 0) {
                                alert("This file has been chosen");
                                element.val(null);
                            } else {

                                console.log(element.val());
                                filenames.push(element.val());

                                element.nextAll(element).find('input').val((element.val()).split('\\').pop());
                            }
                        });
                        $(this).find("button.btn-choose").click(function() {
                            element.click();
                        });
                        $(this).find("button.btn-reset").click(function() {
                            element.val(null);
                            $(this).parents(".input-file").find('input').val('');
                        });
                        $(this).find('input').css("cursor", "pointer");
                        $(this).find('input').mousedown(function() {
                            $(this).parents('.input-file').prevAll('input').first().click();
                            return false;
                        });
                        return element;
                    }
                }
            );
        }
        $(function() {
            bs_input_file();
        });
    </script>
    <script>
        $(document).ready(function() {
            var i = 1;
            $("#add_row").click(function() {
                $('#addr' + i).html(
                    "<td>" + (i) + "</td><td><input id='title' name='detail[" + i + "][title]' placeholder='Judul File' required='required' class='form-control col-md-3 col-sm-3 col-xs-12'></td><td><select class='select form-control' tabindex='-1' name='detail[" + i + "][kategori_detail]'><option value='dokumen'>DOKUMEN</option><option value='e-learning'>E-LEARNING</option></select></td><td><input type='file' id='file_detail' name='detail[" + i + "][cover]' placeholder='Training Title' required='required' class='btn btn-dark col-md-7'></td><td><input type='file' id='file_detail' name='detail[" + i + "][document]' placeholder='Training Title' required='required' class='btn btn-dark col-md-7'></td>");
                $('#datatable-responsive').append('<tr id="addr' + (i + 1) + '"></tr>');
                i++;
                bs_input_file();
            });
            $("#delete_row").click(function() {
                if (i > 1) {
                    $("#addr" + (i - 1)).html('');
                    i--;
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            $('#datatable-keytable').DataTable({
                keys: true
            });
            $('#datatable-responsive').DataTable({
                "aaSorting": [],
                "paging": false,
                "ordering": false,
                "info": false,
                "searching": false
            });
            $('#datatable-scroller').DataTable({
                ajax: "js/datatables/json/scroller-demo.json",
                deferRender: true,
                scrollY: 380,
                scrollCollapse: true,
                scroller: true
            });
            var table = $('#datatable-fixed-header').DataTable({
                fixedHeader: true
            });
        });
        TableManageButtons.init();
    </script>
    <script>
        var handleDataTableButtons = function() {
                "use strict";
                0 !== $("#datatable-buttons").length && $("#datatable-buttons").DataTable({
                    dom: "Bfrtip",
                    buttons: [{
                        extend: "copy",
                        className: "btn-sm"
                    }, {
                        extend: "csv",
                        className: "btn-sm"
                    }, {
                        extend: "excel",
                        className: "btn-sm"
                    }, {
                        extend: "pdf",
                        className: "btn-sm"
                    }, {
                        extend: "print",
                        className: "btn-sm"
                    }],
                    responsive: !0
                })
            },
            TableManageButtons = function() {
                "use strict";
                return {
                    init: function() {
                        handleDataTableButtons()
                    }
                }
            }();
    </script>
    <script src="../js/datatables/jquery.dataTables.min.js"></script>
    <script src="../js/datatables/dataTables.bootstrap.js"></script>
    <script src="../js/datatables/dataTables.buttons.min.js"></script>
    <script src="../js/datatables/buttons.bootstrap.min.js"></script>
    <script src="../js/datatables/jszip.min.js"></script>
    <script src="../js/datatables/pdfmake.min.js"></script>
    <script src="../js/datatables/vfs_fonts.js"></script>
    <script src="../js/datatables/buttons.html5.min.js"></script>
    <script src="../js/datatables/buttons.print.min.js"></script>
    <script src="../js/datatables/dataTables.fixedHeader.min.js"></script>
    <script src="../js/datatables/dataTables.keyTable.min.js"></script>
    <script src="../js/datatables/dataTables.responsive.min.js"></script>
    <script src="../js/datatables/responsive.bootstrap.min.js"></script>
    <script src="../js/datatables/dataTables.scroller.min.js"></script>