<% layout('../partials/layout') -%>
    <!-- <script type="text/javascript">
        $().ready(function() {
            if (document.referrer != '<%= link %> + MasterTraining/Edit') {
                history.pushState(null, null, '/MasterTraining/Edit');
                window.addEventListener('popstate', function() {
                    history.pushState(null, null, '/MasterTraining/Edit');
                });
            }
        });
    </script> -->
    <div class="right_col" role="main">
        <div class="">
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Master Training<small>edit</small></h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <% obj.forEach(function (training) { %>
                                <form action="/MasterTraining/EditSubmit?id=<%= training.id %>" id="demo-form2" data-parsley-validate method="post" enctype="multipart/form-data" class="form-horizontal form-label-left" novalidate>
                                    <!-- <input type="hidden" name="_METHOD" value="PUT" /> -->
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="code">Code <span class="required">*</span>
                  </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="code" value="<%= training.code %>" class="form-control col-md-7 col-xs-12" name="code" placeholder="Training Code" required="required" type="text">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">Title <span class="required">*</span>
                  </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="title" value="<%= training.title %>" name="title" placeholder="Training Title" required="required" class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description">Description <span class="required">*</span>
                  </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="description" value="<%= training.description %>" name="description" placeholder="Training Description" required="required" class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Category</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="select2_single form-control" name="category_id">
                                                <% category.forEach(function (sls) { %>
                                                <option value="<%=sls.id%>" <%= training.category_id==sls.id ? 'selected' : '' %>><%= sls.category %></option>
                                                <% }) %>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Type</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="select2_single form-control" tabindex="-1" name="type">
                                            
                                            <option value="salesman" <%= training.type=='salesman' ? 'selected' : '' %>>Salesman</option>
                                            <option value="salesforce" <%= training.type=='salesforce' ? 'selected' : '' %>>Salesforce</option>
                                            <option value="flp" <%= training.type=='flp' ? 'selected' : '' %>>FLP</option>
                                            <option value="deliveryman" <%= training.type=='deliveryman' ? 'selected' : '' %>>Delivery Man</option>
                                            <option value="leader" <%= training.type=='leader' ? 'selected' : '' %>>Leader</option>
                                          </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Level</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="select2_single form-control" tabindex="-1" name="level">
                                                    <option value="basic" <%= training.level=='basic' ? 'selected' : '' %>>Basic</option>
                                                    <option value="intermediate" <%= training.level=='intermediate' ? 'selected' : '' %>>Intermediate</option>
                                                    <option value="advance" <%= training.level=='advance' ? 'selected' : '' %>>Advance</option>
                                                  </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>Judul File</th>
                                                    <th>Kategori file</th>
                                                    <th>Cover</th>
                                                    <th>File</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% 
                                                var sum = 0;
                                                var no =  1;
                                                objdet.forEach(function (trainingDetail) 
                                                {
                                                    var id_detail = trainingDetail.id;
                                                    var file = trainingDetail.attachment;
                                                    var cover = trainingDetail.cover;
                                                    var title = trainingDetail.title_attachment;
                                                    var coverAt =  cover.substr(44);
                                                    var kategori = trainingDetail.category_detail;
                                                    var fileAt = file.substr(44);
                                                    var coverName = cover.substr(7);
                                                    var documentName = file.substr(7);
                                                         %>
                                                    <tr id="addr<%= sum %>">
                                                        <input name="detail[<%= sum %>][id]" value="<%= id_detail %>" class="form-control" type="hidden">

                                                        <td>
                                                            <%= no %>
                                                        </td>
                                                        <td style="margin-top: 20px">
                                                            <input value="<%= title %>" id="title" name="detail[<%= sum %>][title]" placeholder="Judul File" required="required" class="form-control col-md-7">
                                                        </td>
                                                        <td>
                                                            <select class="select form-control" tabindex="-1" name="detail[<%= sum %>][kategori_detail]">
                                                                    <option value="dokumen" <%= trainingDetail.category_detail=='0' ? 'selected' : '' %>>DOKUMEN</option>
                                                                    <option value="e-learning" <%= trainingDetail.category_detail=='1' ? 'selected' : '' %>>E-LEARNING</option>
                                          </select>

                                                        </td>
                                                        <input name="detail[<%= sum %>][cover][filename]" value="<%= coverName %>" class="form-control" type="hidden">
                                                        <input name="detail[<%= sum %>][document][filename]" value="<%= documentName %>" class="form-control" type="hidden">
                                                        <td>
                                                            <input value="<%= unescape(coverAt) %>" style="font-weight: bold" class="view-label col-md-7" readonly>

                                    </div>
                                    <input type="file" id="file_detail" name="detail[<%= sum %>][cover]" placeholder="Training Title" class="btn btn-dark col-md-7">
                                    </td>

                                    <td>
                                        <input value="<%= unescape(fileAt) %>" class="view-label col-md-7" style="font-weight: bold" readonly>

                                        <input type="file" id="file_detail" name="detail[<%= sum %>][document]" placeholder="Training Title" class="btn btn-dark col-md-7">
                                    </td>
                                    </tr>
                                    <% sum++;no++; })%>
                                        </tbody>
                                        </table>
                                        <a id="add_row" class="btn btn-dark pull-left">Add Row</a>
                                        <a id='delete_row' class="pull-left btn btn-dark">Delete Row</a>
                        </div>
                        <div class="ln_solid"></div>
                        <div class="form-group">
                            <div class="col-md-6 col-md-offset-3">
                                <a type="submit" class="btn btn-primary" href="/MasterTraining/Index">Cancel</a>
                                <button id="send" type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                        </form>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer content -->
    <%- partial('../partials/footer') %>
        <!-- /footer content -->
        </div>
        <script>
            $(document).ready(function() {
                var i = <%= objdet.length - 1 %>;
                var n = <%= objdet.length %>;
                $("#add_row").click(function() {
                    $('#addr' + n).html(
                        "<td>" + n + "</td><input name='detail[" + i + "][id]' value='0' class='form-control col-md-7' type='hidden'><td><input id='title' name='detail[" + i + "][title]' placeholder='Judul File' required='required' class='form-control col-md-3 col-sm-3 col-xs-12'></td><td><select class='select form-control' tabindex='-1' name='detail[" + i + "][kategori_detail]'><option value='dokumen'>DOKUMEN</option><option value='e-learning'>E-LEARNING</option></select></td><td><input type='file' id='file_detail' name='detail[" + i + "][cover]' placeholder='Training Title' required='required' class='btn btn-dark col-md-7'></td><td><input type='file' id='file_detail' name='detail[" + i + "][document]' placeholder='Training Title' required='required' class='btn btn-dark col-md-7'></td>");
                    $('#datatable-responsive').append('<tr id="addr' + (n + 1) + '"></tr>');
                    i++;
                    n++;
                });
                $("#delete_row").click(function() {
                    if (i > <%= objdet.length%> + 1) {
                        $("#addr" + (i - 1)).html('');
                        i--;
                    }
                });
            });
        </script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#datatable-keytable').DataTable({
                    keys: true
                });
                $('#datatable-responsive').DataTable({
                    "aaSorting": [],
                    "paging": false,
                    "ordering": false,
                    "info": false,
                    "searching": false
                });
                $('#datatable-scroller').DataTable({
                    ajax: "js/datatables/json/scroller-demo.json",
                    deferRender: true,
                    scrollY: 380,
                    scrollCollapse: true,
                    scroller: true
                });
                var table = $('#datatable-fixed-header').DataTable({
                    fixedHeader: true
                });
            });
            TableManageButtons.init();
        </script>
        <script>
            var handleDataTableButtons = function() {
                    "use strict";
                    0 !== $("#datatable-buttons").length && $("#datatable-buttons").DataTable({
                        dom: "Bfrtip",
                        buttons: [{
                            extend: "copy",
                            className: "btn-sm"
                        }, {
                            extend: "csv",
                            className: "btn-sm"
                        }, {
                            extend: "excel",
                            className: "btn-sm"
                        }, {
                            extend: "pdf",
                            className: "btn-sm"
                        }, {
                            extend: "print",
                            className: "btn-sm"
                        }],
                        responsive: !0
                    })
                },
                TableManageButtons = function() {
                    "use strict";
                    return {
                        init: function() {
                            handleDataTableButtons()
                        }
                    }
                }();
        </script>
        <script src="../js/datatables/jquery.dataTables.min.js"></script>
        <script src="../js/datatables/dataTables.bootstrap.js"></script>
        <script src="../js/datatables/dataTables.buttons.min.js"></script>
        <script src="../js/datatables/buttons.bootstrap.min.js"></script>
        <script src="../js/datatables/jszip.min.js"></script>
        <script src="../js/datatables/pdfmake.min.js"></script>
        <script src="../js/datatables/vfs_fonts.js"></script>
        <script src="../js/datatables/buttons.html5.min.js"></script>
        <script src="../js/datatables/buttons.print.min.js"></script>
        <script src="../js/datatables/dataTables.fixedHeader.min.js"></script>
        <script src="../js/datatables/dataTables.keyTable.min.js"></script>
        <script src="../js/datatables/dataTables.responsive.min.js"></script>
        <script src="../js/datatables/responsive.bootstrap.min.js"></script>
        <script src="../js/datatables/dataTables.scroller.min.js"></script>