<% layout('../partials/layout') -%>
    <div class="right_col" role="main">
        <div class="">
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Master Training<small>detail</small></h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <% obj.forEach(function (training) { %>
                                <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Code : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="first-name"><%= training.code %></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Title : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="first-name"><%= training.title %></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Description : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="first-name"><%= training.description %></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Category : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="first-name"><%= training.category %></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Type : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="first-name"><%= training.type %></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first-name">Level : 
                                          </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <!-- <input type="text" id="first-name" required="required" class="form-control col-md-7 col-xs-12"> -->
                                            <label class="view-label col-md-7" for="first-name"><%= training.level %></label>
                                        </div>
                                    </div>
                                    <% if(objdet.length > 0){%>
                                        <div class="form-group">
                                            <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>No</th>
                                                        <th>Judul File</th>
                                                        <th>Kategori file</th>
                                                        <th>Cover</th>
                                                        <th>File</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% 
                                                    var sum = 0;
                                                    objdet.forEach(function (trainingDetail) 
                                                    {
                                                        var file = trainingDetail.attachment;
                                                        var cover = trainingDetail.cover;
                                                        var title = trainingDetail.title_attachment;
                                                        var coverAt =  cover.substr(44);
                                                        var kategori = trainingDetail.category_detail;
                                                        var kat = trainingDetail.category_detail;
                                                        
                                                        if(kat == "1"){
                                                            var kategori = "E-Learning";
                                                        }else{
                                                            var kategori = "Dokumen";
                                                        }
                                                       
                                                        var fileAt = file.substr(44);
                                                        sum++;
                                                                 %>
                                                        <tr id="addr <%= sum %>">
                                                            <td>
                                                                <%= sum %>
                                                            </td>
                                                            <td>
                                                                <label class="view-label col-md-7" for="first-name">
                                                                            <%= title %>
                                                                        </label>
                                                            </td>
                                                            <td>

                                                                <label class="view-label col-md-7" for="first-name">
                                                                            <%= kategori %>
                                                                        </label>
                                                            </td>
                                                            <td>
                                                                <div class="input-group input-file">
                                                                    <!-- <input type="text" class="form-control" placeholder='Choose a file...' id='file' /> -->
                                                                    <label class="view-label col-md-7" for="first-name">
                                                                            <%= unescape(coverAt) %>
                                                                        </label>
                                                                    <span class="input-group-btn">
                                                                                                <a class="btn btn-dark btn-reset" href="<%= link+cover %>" type="button" download>Download</a>
                                                                                        </span>
                                                                </div>
                                                            </td>

                                                            <td>
                                                                <div class="input-group input-file">
                                                                    <!-- <input type="text" class="form-control" placeholder='Choose a file...' id='file' /> -->
                                                                    <label class="view-label col-md-7" for="first-name">
                                                                            <%= unescape(fileAt) %>
                                                                                </label>
                                                                    <span class="input-group-btn">
                                                                                                        <a class="btn btn-dark btn-reset" href="<%= link+file %>" type="button" download>Download</a>
                                                                                                </span>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <% })%>
                                                </tbody>
                                            </table>
                                        </div>
                                        <% }%>
                                            <div class="ln_solid"></div>
                                            <div class="form-group">
                                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                                    <a type="submit" class="btn btn-primary" href="/MasterTraining/Index">Back</a>
                                                </div>
                                            </div>
                                </form>
                                <% }) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer content -->
        <%- partial('../partials/footer') %>
            <!-- /footer content -->

    </div>