<% layout('../partials/layout') -%>
    <div class="right_col" role="main">
        <div class="">
            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Master User<small>edit</small></h2>

                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <% obj.forEach(function (user) { 
                                var birth_date = new Date(user.birth_date);
                                birth_date.setDate(birth_date.getDate() +1);
                                var birth = birth_date.toISOString();
                               
                                %>
                                <form action="/MasterUser/EditSubmit?id=<%= user.id %>" id="demo-form2" data-parsley-validate method="post" class="form-horizontal form-label-left" novalidate>
                                    <!-- <input type="hidden" name="_METHOD" value="PUT" /> -->
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name <span class="required">*</span>
                  </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="name" value="<%= user.name %>" class="form-control col-md-7 col-xs-12" name="name" placeholder="Name" required="required" type="text">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="username">Username
                  </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="username" value="<%= user.username %>" class="form-control col-md-7 col-xs-12" name="username" placeholder="Username"  type="text" readonly >
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">Password <span class="required">*</span>
                  </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="password" value="<%= user.password %>" class="form-control col-md-7 col-xs-12" name="password" placeholder="Password" required="required" type="password">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone_number">Phone Number <span class="required">*</span>
                  </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="phone_number" value="<%= user.phone_number %>" name="phone_number" placeholder="Phone Number" required="required" class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Email <span class="required">*</span>
                  </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="email" value="<%= user.email %>" name="email" placeholder="Email" required="required" class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>
                                    
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="gender" >Gender</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="select2_single form-control" tabindex="-1" name="gender">
                                                <option value="L" <%= user.gender=='L' ? 'selected' : '' %>>L</option>
                                                <option value="P" <%= user.gender=='P' ? 'selected' : '' %>>P</option>
                                              </select>
                                        </div>
                                    </div> 

                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="birth_date">Birth Date <span class="required">*</span>
                  </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="birth_date" type = "date" value="<%= birth.split("T")[0] %>" name="birth_date" placeholder="Birth Date" required="required" class="form-control col-md-7 col-xs-12">
                                        </div>
                                    </div>
                                    <div class="item form-group" id="id_group">
                                        <label id="label_id_group" class="control-label col-md-3 col-sm-3 col-xs-12" for="id_group">Id Group Name <span class="required">*</span>
                      </label>
                                        <div class="col-md-6 col-sm-6 col-xs-11">
                                            <input id="id_group" name="id_group" placeholder="Id Group Name" required="required" class="form-control col-md-7 col-xs-12" readonly="readonly" value="<%= user.group_id %>">
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="group_name">Group Name <span class="required">*</span>
                  </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="group_name" value="<%= user.group_name %>" class="form-control col-md-7 col-xs-12" name="group_name" placeholder="Group Name" required="required" type="text" type="text" readonly>
                                        </div>
                                    </div>

                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="group_name">Group Name <span class="required">*</span>
                  </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="group_name" value="<%= user.group_name %>" class="form-control col-md-7 col-xs-12" name="group_name" placeholder="Group Name" required="required" type="text" type="text" readonly>
                                        </div>
                                    </div>

                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="salesmen_name">Salesmen Name <span class="required">*</span>
                  </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <% if(user.sls_nama == null) { %>
                                                <input class="form-control col-md-7 col-xs-12" for="salesmen_name" value="-" type="text" readonly></input>
                                            <% } else { %>
                                                <input class="form-control col-md-7 col-xs-12" for="salesmen_name" type="text" readonly value="<%= user.sls_nama %>"></input>
                                            <% } %>
                                        </div>
                                    </div>

                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="supervisor_name">Supervisor Name <span class="required">*</span>
                  </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <% if(user.supervisor_nama == null) { %>
                                                <input class="form-control col-md-7 col-xs-12" for="supervisor_name" value="-" type="text" readonly></input>
                                            <% } else { %>
                                                <input class="form-control col-md-7 col-xs-12" for="supervisor_name" type="text" readonly value="<%= user.supervisor_nama %>"></input>
                                            <% } %>
                                        </div>
                                    </div>

                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="branch_name">Branch Name <span class="required">*</span>
                  </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="branch_name" value="<%= user.branch_name %>" class="form-control col-md-7 col-xs-12" name="branch_name" placeholder="Branch Name" required="required" type="text" type="text" readonly>
                                        </div>
                                    </div>
                                    
                                    <div class="item form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="status_user" >Status User</label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select class="select2_single form-control" tabindex="-1" name="status_user">
                                                <option value="T" <%= user.status_user=='T' ? 'selected' : '' %>>Active</option>
                                                <option value="F" <%= user.status_user=='F' ? 'selected' : '' %>>Non Active</option>
                                              </select>
                                        </div>
                                    </div> 
                               
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-md-offset-3">
                                        <a type="submit" class="btn btn-primary" href="/MasterUser/Index">Cancel</a>
                                        <button id="send" type="submit" class="btn btn-success">Submit</button>
                                    </div>
                                </div>
                            </form>
                            <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer content -->
    <%- partial('../partials/footer') %>
        <!-- /footer content -->

</div>

<script type="text/javascript">
        
    $(function (){
        window.onload = function() {
            document.getElementById('id_group').style.display = 'none'
        };
    });
    
</script>