<% layout('../partials/layout') -%>
    <div class="right_col" role="main">
        <div id="alertSuccess" class="alert alert-success alert-dismissible fade in" role="alert" style="display: none;">
            <a href="/MasterUser/Index" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
        </a>
            <%- JSON.stringify(message) %>
        </div>
        <div class="">
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Master User
                                <small>index</small>
                            </h2>
                            <div class="clearfix"></div>
                        </div>
                        <a type="button" class="btn btn-dark" href="/MasterUser/Add">Add Data</a>
                        <div class="x_content">
                            <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone Number</th>
                                        <th>Branch Code</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% obj.forEach(function (user) { %>
                                        <tr>
                                            <td>
                                                <%= user.name %>
                                            </td>
                                            <td>
                                                <%= user.email %>
                                            </td>
                                            <td>
                                                <%= user.phone_number %>
                                            </td>
                                            <td>
                                                <%= user.branch_name %>
                                            </td>

                                            <td>
                                                <a class="btn btn-primary btn-xs" href="/MasterUser/Index?id=<%= user.id %>">
                                                    <i class="fa fa-folder"></i>View</a>
                                                <a class="btn btn-info btn-xs" href="/MasterUser/Edit?id=<%= user.id %>">
                                                    <i class="fa fa-pencil"></i> Edit</a>
                                                <a class="btn btn-danger btn-xs" href="/MasterUser/Delete?id=<%= user.id %>" onclick="return confirm('Are you sure you want to delete this item?');">
                                                    <i class="fa fa-trash-o"></i> Delete</a>
                                            </td>
                                        </tr>
                                        <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer content -->
        <%- partial('../partials/footer') %>
            <!-- /footer content -->
    </div>
    <script>
        var handleDataTableButtons = function() {
                "use strict";
                0 !== $("#datatable-buttons").length && $("#datatable-buttons").DataTable({
                    dom: "Bfrtip",
                    buttons: [{
                        extend: "copy",
                        className: "btn-sm"
                    }, {
                        extend: "csv",
                        className: "btn-sm"
                    }, {
                        extend: "excel",
                        className: "btn-sm"
                    }, {
                        extend: "pdf",
                        className: "btn-sm"
                    }, {
                        extend: "print",
                        className: "btn-sm"
                    }],
                    responsive: !0
                })
            },
            TableManageButtons = function() {
                "use strict";
                return {
                    init: function() {
                        handleDataTableButtons()
                    }
                }
            }();
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            let myVar = <%- JSON.stringify(message) %>;
            if (myVar != null) {
                document.getElementById('alertSuccess').style.display = 'block';
            }
            $('#datatable').dataTable();
            $('#datatable-keytable').DataTable({
                keys: true
            });
            $('#datatable-responsive').DataTable({
                "aaSorting": []
            });
            $('#datatable-scroller').DataTable({
                ajax: "js/datatables/json/scroller-demo.json",
                deferRender: true,
                scrollY: 380,
                scrollCollapse: true,
                scroller: true
            });
            var table = $('#datatable-fixed-header').DataTable({
                fixedHeader: true
            });
        });
        TableManageButtons.init();
    </script>